interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiY2ViYmYwNTUtN2NkMi00NzVkLTg2ZmUtYTQzZjUzYTc0MWIwIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY3Mn0.VYz7SihCmBonEkBYlyzuZlP-M2WKbpOoLFjdbOuYH0vLsSZ3DYSHPP_bP751_UMLXqeOo6EDWVNz93_zo9-hfPs-6iVkgDdwGiA9BJvTPD76VlHmwKp6z-b4ORsT7uzhZ7tE-nYFmzfyy1hDP9cYFzv0wfd4kvGSPUyQjH6ENdJYjmO05jWrzaCMoxrb65QRRzr6N1plKE2fypAvz5AMMBM8cjv4POmvFPxHiru50Wyfs5mFvj-Y0uhn_6frD7QDmENX1vLdReLDg7RvZor9UcQUCxb3zRK0_2AvgnrhnGd2FsdyShSEEjKcTIsjyiVC_J61cv8nMjeWdvu2krJ2UPbRnas9bpyErK4e3h0t2DZT67IyaB9oREs9k3i-4hGuc7ZmfRzGwPPF02zsqDhKyqFGejhRpXnbo9sk4gOV63vC5oXAJ-hofR0kgdP2O113UXqYGISZ5OeZTf235SfSVKT5qM4I3uKtusiffZedQbsfe9CTMa9dhlF0Q7R2GOGUzYXz4BNhuKQY-MghEAU3YOrvM-aZpMXJD-sP8sMiKp1Sdc7Lqlhbgd9KDPvgTYcxyfH2Gqjr_ADcrariIzWeTXvvxA8xKQMYQ52bG9M8i5IBFqyWg-wsnbkkOWUHWjwIsoqbfVG8ZjzpEZHeHLDeNKp27M4ZlCR2RVP-beKg5ow
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"pmAiDjA4wwD0o9Ydx51exmOIwBZQ\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546372907\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-7882394486086254890-b-geu2-2446-9846492-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer pmAiDjA4wwD0o9Ydx51exmOIwBZQ
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002378
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6310047\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"UyInZ\",\n            \"line\":
        [\n                \"48 GLEBE ROAD\",\n                \"BRIGG\",\n                \"S
        HUMBERSIDE\"\n            ],\n            \"period\": {\n                \"start\":
        \"2017-05-18\"\n            },\n            \"postalCode\": \"DN20 8QF\",\n
        \           \"use\": \"home\"\n        }\n    ],\n    \"birthDate\": \"1961-06-08\",\n
        \   \"gender\": \"male\",\n    \"generalPractitioner\": [\n        {\n            \"id\":
        \"ZVtUk\",\n            \"identifier\": {\n                \"period\": {\n
        \                   \"start\": \"1964-10-11\"\n                },\n                \"system\":
        \"https://fhir.nhs.uk/Id/ods-organization-code\",\n                \"value\":
        \"A20047\"\n            },\n            \"type\": \"Organization\"\n        }\n
        \   ],\n    \"id\": \"9728002378\",\n    \"identifier\": [\n        {\n            \"extension\":
        [\n                {\n                    \"url\": \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002378\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"PUCKEY\",\n            \"given\":
        [\n                \"Miles\",\n                \"Keith\"\n            ],\n
        \           \"id\": \"QOKcp\",\n            \"period\": {\n                \"start\":
        \"1995-03-27\"\n            },\n            \"prefix\": [\n                \"MR\"\n
        \           ],\n            \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\":
        \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
