interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiZjE5NjM0OGYtOWQ4ZC00NzZiLWEwNzYtYzNhZThmNDg4NGVhIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODc0NDE5OX0.c7rIz1VbTrHoYia4IMga1Kx0drIPPh8tM3YUp1LrajzFQYTZS9EXRECIP7Jq3WoBXHipRA71ThvKn2EEolwZCo84nii3bQ3UfvzPk-ZRFjwknq0zJDTDEl2X7cTtav7QeInLNgrx0vY7mutsPJ_Vc2IBR-TKHTdSp-wPeuY5U9dGQ7ArhxyXtSmpVpfrei1OFEVlIxIjbQgX5EoOC8y1epKKn_eT-XsSOHcB055a4dnI8VZ2ZX7ic1r3wNh-Sm81qIWsf5kGA8-WCb9uyx2ehZWj4m8LIPOL-vFdQgpP3XP33L_qzkbp3WTUf3IVWs9P23Zr1fXtKuOl2cAvAJvbKC0ZGO0iRs-ujwmwWnuk1m9QXWpHC3NYjzYse-_wYm_Ft45kXNhOJfgAgomMqPb0TTdYQso3b8sX_vH4g-vdQBLEMUI6HvZoCgxpKA4IyjU6qFhtC_LZQERoCOs_mKxXvxZh-cStgQrX5ySxDJhp8PiBd_v_-QXKx-cD6bZR9f-4pQ-NhWZDazmYBOYFYvk2-v_zZ_yBXGsBLXG1d0_APoR9zYAtdcZP-ksDDeaEFm3Fv_DNSzpNE8Ep_3OckV8IS-nXON9yuWQmvMmjyPi7nQGXbeG-FWAEmlX73SLy4MoEyCF91AmVIKRY6dUmVru_mOMQL_-qse4OxWkuuYFUaUM
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"m1NKr9KDqpkhUOeXDKMUEGZmIufS\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678743900413\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-8093673071361309881-a-geu2-23832-983623-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer m1NKr9KDqpkhUOeXDKMUEGZmIufS
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002521
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"23026019\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"phjem\",\n            \"line\":
        [\n                \"3 WESTMORELAND CLOSE\",\n                \"WESTWOODSIDE\",\n
        \               \"DONCASTER\"\n            ],\n            \"period\": {\n
        \               \"start\": \"2011-12-18\"\n            },\n            \"postalCode\":
        \"DN9 2DZ\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"2009-10-20\",\n    \"gender\": \"other\",\n    \"generalPractitioner\":
        [\n        {\n            \"id\": \"uBVLm\",\n            \"identifier\":
        {\n                \"period\": {\n                    \"start\": \"2010-12-07\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002521\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002521\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"HOI\",\n            \"given\": [\n
        \               \"LULI\"\n            ],\n            \"id\": \"RmMCA\",\n
        \           \"period\": {\n                \"start\": \"2016-12-17\"\n            },\n
        \           \"prefix\": [\n                \"MS\"\n            ],\n            \"use\":
        \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
