interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiYTYzYzQ5YTAtMDAxMS00N2IxLWE1YTAtYzA1MjBhMzgyNDdhIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODczNDI0NH0.CisJ2EFSm-shgQ-bSTybmF9oQzaOVPNLJ57R4CdmcWq4MFd8pzXZgBxJH6081cE_A5wJyvTHHOyh0EdLgNLFOnncJ7QQw_m-KwAI2MVyDHviAmeMpIiPiud9CnfUWFernl5WwjTTyJd1ZNLvfjMIDuFhA-fRU3dANTAzlQ65sqIOqQJ_p2DoUW_w3o7EplejmvNlZ-JkmJ7y7IPV2yHT-0quhhtC6_BchiSPwXOCDYUQICukeCQQBZLeA4lQB-7NbsbT634TcZcp90nhzrkzJKVlZ3rvD-AbGpepDZbsyCEXlhjSyaBQ_4S2aKhoBg59S7HIXMzfHUG3Vn2ZEjyUd2YT80Q1hYwMBAMBC4qs5Ka9DpWmue-dTD4vT3cQKnnbqqLnrP0xKeuODoxtVP2WFrWOyxMUwIKcS-Bx-NozPrENA1maccA6eAMLvkt_HmVG5Jonkk0omp8KQgRIb42pt4eiFAVb8-igPSoEZP7witdUlpgnl2mHIuKvQWsFTSe5Q2rlqWo-RY3bfrfAK9xxykGG6HRq3v97jxGAyApzpOCdICF3KPyO23fKIjxiR23TlefjWI9mQS5ZOjyuMsPFKj0j6tvT75ZCuWAleOJnoAYmkOToyenwZAWEQKUzRdxPstg36zfnygfNk9LTM9tdX8G3WUZNdhq3NVBRpJ6gZD8
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"exsJhthjSA1jFJLdqWoG1JurCKGd\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678733945177\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-6993166222353329305-b-geu2-24095-4615838-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer exsJhthjSA1jFJLdqWoG1JurCKGd
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002424
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"16681678\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"uJQEh\",\n            \"line\":
        [\n                \"MARLAND HOUSE\",\n                \"HAXEY ROAD\",\n                \"EPWORTH\",\n
        \               \"DONCASTER\"\n            ],\n            \"period\": {\n
        \               \"start\": \"1972-03-05\"\n            },\n            \"postalCode\":
        \"DN9 1DE\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"1962-10-04\",\n    \"gender\": \"male\",\n    \"generalPractitioner\": [\n
        \       {\n            \"id\": \"MjCDi\",\n            \"identifier\": {\n
        \               \"period\": {\n                    \"start\": \"1991-07-31\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002424\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002424\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"SPEAKE\",\n            \"given\":
        [\n                \"SAMSON\"\n            ],\n            \"id\": \"CBfGT\",\n
        \           \"period\": {\n                \"start\": \"2008-09-07\"\n            },\n
        \           \"prefix\": [\n                \"MR\"\n            ],\n            \"use\":
        \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
