interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiZTI5Y2NhM2UtOGZkOS00YTBhLTliNTAtN2ZjODA1ZTU3MDBmIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY2OX0.TZlvAXtRSjP2cRHfMof_LHwJhvFxuwy-dWn6wanXaD5uW1ypa389Gj1iIpmfxSV5G-HXQ8g7T6LK_ypX_dBKTLJBiV9Y3VjsZswecwOPWBZuO1RqvLWVcPrvjXGRHqq6Jbvg0B3JsTyEjDA6abEfAOXRj2h6vvdsbD5P7OdM7xGgF40Md_CY1BJ1Byobh-_vB_shP8fmVmqxq1TezAZFW2BgKNQX8NzCHwNttP5uXYmO4w1KZo2zlkRj-dzL3sP1RUUtot4ER0Xm3uumQdHkBazong-ataAhpe1D_xf1Tm_4HLnyMa9965j7iHERKSNRIDmGuk93N0RY0KiUGTNYOl844hJaqaHud5YMBgQ15P5ZHlDi7uMktTgLR8HM9Rzs27JYaXWFEcZ58bx1mHsajuJG_VtoPb2v7j4nkFDsYlHQoq5ysNI1nWENO95YxG77Subf-qM_Wdmk_JV4dg7h9GcWjTFwbVJjhzhBjF3nPHuRnCpeLHUaP3U8NvOoAKtbuD34EBmolUFt0gzv2vSQXImEnY6bsBbnYifsH76NBWsNRdrF-4Ip2OMFuFxBi0I2Sj_A7rOXPDdEg_bM2_1cRCChZlW89GhaI5qulX77Ul7bxEPv-SxdaXc9KEg7jJl_cPYO8t3Y-HmSNPwaMvJboWpLLW4QakVvIFK_U1h7Aic
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"tHELZXfYK3eGbXdsqaSQw5Oe1WYs\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546369842\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-4001360543047875738-b-geu2-25347-601227-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer tHELZXfYK3eGbXdsqaSQw5Oe1WYs
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002432
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6285386\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"czxvQ\",\n            \"line\":
        [\n                \"1 HAWTHORNE AVENUE\",\n                \"SCUNTHORPE\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"1964-04-22\"\n            },\n            \"postalCode\":
        \"DN17 1DL\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"1958-06-10\",\n    \"gender\": \"female\",\n    \"generalPractitioner\":
        [\n        {\n            \"id\": \"COCzc\",\n            \"identifier\":
        {\n                \"period\": {\n                    \"start\": \"1974-12-02\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002432\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002432\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"MONKS\",\n            \"given\": [\n
        \               \"Lavina\",\n                \"Maxine\"\n            ],\n
        \           \"id\": \"VWIlj\",\n            \"period\": {\n                \"start\":
        \"2005-04-19\"\n            },\n            \"prefix\": [\n                \"MRS\"\n
        \           ],\n            \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\":
        \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
