interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiOGI5NjUwMmQtZjNiYS00MjQzLWIwNTItZGQwMTIzYjgzZTAxIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODc0NDIwN30.kLgqvkPKG8IDsh0L15NnoS00-yGtXoX71ITTG2QkBORinZvqL8mcyOkWCTWsrfKH_I2ZkatMRaDwKbpTARP9FtKCMk--yABR8Phbw1mDUMsaK0kzU97OICiigVkeRl0Tz-7htgxXZSt9Kpq9VCW9x2P8YG9ThI_Q3kYo0Bc8buT8B8Fr-XHDJnZn9MJU5Nhinb5Ow5LRq-fWK0wrNAPUQ_nY6QIhpjB7av0-EnEu9XWzNSo5kgFaJI1K6fUVaPC7n0ebkBVUaRIZhdvG4FXJxR8YwiLTcC_Z4NIxmuO6P4kS79zuXXMuHiYDPXZ9xJmuYliBnbSH204DtWFaHiQjaJrhioL5wQFGCpgWe2atKvSudiytTrla7IcmAVGw8feLWw2HowCK8JK6L7TLR_oqwKGg44jeGSp0OkDTl_FYWJ_winoJjX_7aInvom3l24q-ENka5ir7bQV8zvdVTNGzoVAi7HrLa5beF-DT9wjmVECg2jwqI4VVE039ztAd0yo-tvmq5O2v3P25w68_1RBvvfAmRnDoi12W4abscIZY0ljIb2Zl1FtovqOu_-Tfan8RYhrvaqz6EoplqzJAaIZBzdnewx8HLYOxGJ5BMDLsXkA8dq734zXK_dNxTKXyyrQMUQs9nrjfWQyZD8pEZpCPIbjh2Ohz552LM43uLmtD9kc
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"RNUIwK53RDq0Zgmhni9FlSXldiL8\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678743908496\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-7516941830607482798-c-geu2-23802-35573-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer RNUIwK53RDq0Zgmhni9FlSXldiL8
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002548
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6308958\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"XtjCT\",\n            \"line\":
        [\n                \"10 BURGESS ROAD\",\n                \"BRIGG\",\n                \"S
        HUMBERSIDE\"\n            ],\n            \"period\": {\n                \"start\":
        \"2011-07-26\"\n            },\n            \"postalCode\": \"DN20 8DA\",\n
        \           \"use\": \"home\"\n        }\n    ],\n    \"birthDate\": \"2011-05-04\",\n
        \   \"gender\": \"female\",\n    \"generalPractitioner\": [\n        {\n            \"id\":
        \"erGDz\",\n            \"identifier\": {\n                \"period\": {\n
        \                   \"start\": \"2021-02-15\"\n                },\n                \"system\":
        \"https://fhir.nhs.uk/Id/ods-organization-code\",\n                \"value\":
        \"A20047\"\n            },\n            \"type\": \"Organization\"\n        }\n
        \   ],\n    \"id\": \"9728002548\",\n    \"identifier\": [\n        {\n            \"extension\":
        [\n                {\n                    \"url\": \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002548\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"YOUELL\",\n            \"given\":
        [\n                \"MARLYN\"\n            ],\n            \"id\": \"AKbgB\",\n
        \           \"period\": {\n                \"start\": \"2018-03-21\"\n            },\n
        \           \"prefix\": [\n                \"MISS\"\n            ],\n            \"use\":
        \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
