interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiNWFmODg4ZmItMGE3ZC00ZjE1LWE3NzAtMjgyMzM5Yjk1MGVkIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY5Mn0.h_fP-hPB_vx3gdVCLyGgSByT9xZ2AEgnu12aXZgd1RzUSua61wumO9UUuoH1ZAJcKglR7PmPha3a7cNNYWl6mu_JkmGxoCx7VFGfO_eIT3vC-xVEUCeExu9hJP3CDDPBN0fbiq3Jmtgf5uO6stUp6S9ObNLBMmTZusMVPbxGQbhUWcY6Y_Ne6Ju-_XVn2ul_DYINST1dAZA8zhOEsaCAChadmk3SlebuIJv_yMSpE_RckyzUBMmlp4mTq88_WwJuARcc424QnreCDTHPDWXr9cf4pzVsUBSjdxlNfJEnz15H_5toyrdWBSQomkh-y63NFKa_zQaBcx6xMoSeXy9gIbxtiF3R44BeuY79nSEOiiUGSfVf3naver6SliQBur25TCeE4UydVb_5dPQyoU4A225GbpvS0-gOZqH7lK9OD8jL8pTwBOFEb3Axc_aM3AW7eSYczVJUMxBHsv3x0VgwbkHWVvqNHTM3EbYBNYed9FYhShAvR67-r757p5M9hsc7P-58IC4Nnx5UEjFoMOY3xlYHlFF1cdCw0MCnWH-_u5hkSqkAPcvw9cfo-TMg_GLUnzqEOJUOhx8LIxz1uNhJcLpoxqeQaBA_pY4fL3rz4RQbtT4gHK2pbwNUM5E6W2kM7w5IdKz0nWwHx-YQtORqYPn8yTdcv1EUdZ6wIAoj35M
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"otkEGm16Z5T12VNbLRoGNQ6f0anx\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546392750\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-3090325540648010282-c-geu2-23838-4585687-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer otkEGm16Z5T12VNbLRoGNQ6f0anx
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002521
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"23026019\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"phjem\",\n            \"line\":
        [\n                \"3 WESTMORELAND CLOSE\",\n                \"WESTWOODSIDE\",\n
        \               \"DONCASTER\"\n            ],\n            \"period\": {\n
        \               \"start\": \"2011-12-18\"\n            },\n            \"postalCode\":
        \"DN9 2DZ\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"2009-10-20\",\n    \"gender\": \"other\",\n    \"generalPractitioner\":
        [\n        {\n            \"id\": \"uBVLm\",\n            \"identifier\":
        {\n                \"period\": {\n                    \"start\": \"2010-12-07\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002521\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002521\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"HOI\",\n            \"given\": [\n
        \               \"LULI\"\n            ],\n            \"id\": \"RmMCA\",\n
        \           \"period\": {\n                \"start\": \"2016-12-17\"\n            },\n
        \           \"prefix\": [\n                \"MS\"\n            ],\n            \"use\":
        \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
