interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiYWQ1N2YyMzEtMDQyMi00YmQwLWJmN2EtM2FlNGMzYmIxNDU3IiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY2MH0.EGovMop7XahF_C6D7CPe_0mUG-tNQjE6WmdTXP_LNJbV1Re-4Y5C-1Drcd6UZU2TQCbyfVIbuvodUVjaE8Byb2bQhtFPxet6DDydURpr1HOLFYrw2MrKaywGzOug0t5aYt22M9I9f1Y2LKs-yNMj8VhNcnvR8HSfTeAa_W5kqLsBf37NEHR71visodvGRhdWRQ3-14qzKJcUiqykWrCr6Y1lTMciBQUDBBbYrRUJt3VNOMzUk2dfEbcR--asSJKYPsiu9WOohzCoRS9WiM1gwdNcC2aMkzAPMZKeivLzLqBWAW7ioC3ioxzdRYEFbippYmPzqDgSJDWktyNYj44X9NLNLGlXKkYnp8CRTC3x6ZLQnxSOXy8PJuZnt6emstNubE09510dticx2fmMeq8bMmxc-UPKaIAlFrirDpkvfTEyKo76HfEZzsMTBVg9GhHlB9ipR5pWY012nKLIW8nf6F3dAwul5os-CJwQ9QWAAmuHHwt2UntkcOTRYJNbgT_LC0u-miN6IAFWV8Ls0nhkHS29QKRgXfWFYW5JOr1Z1eem0zKEkJCdOu_tCw0kba9unswEQw2acIH4s8AdJmzmK-KIS2XTFJkunmh4Voet1yxZNDh0dXgKeVKLlI1x6n8C6UpRz0H4voDtjtNMFpqOQMBGNLkFoFD7Z1xAE2c08hU
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"6Y25w8I81x2KGXOjkoArKuoOgtie\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546360864\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-7882394486086254890-b-geu2-2446-9846042-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer 6Y25w8I81x2KGXOjkoArKuoOgtie
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002335
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"16648723\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"ZOWic\",\n            \"line\":
        [\n                \"86 COTTAGE BECK ROAD\",\n                \"SCUNTHORPE\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"1978-03-11\"\n            },\n            \"postalCode\":
        \"DN16 1LG\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"1960-09-11\",\n    \"gender\": \"female\",\n    \"generalPractitioner\":
        [\n        {\n            \"id\": \"YlHvm\",\n            \"identifier\":
        {\n                \"period\": {\n                    \"start\": \"1970-04-08\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002335\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002335\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"LYNN\",\n            \"given\": [\n
        \               \"Maxine\"\n            ],\n            \"id\": \"ZiVAl\",\n
        \           \"period\": {\n                \"start\": \"1966-08-24\"\n            },\n
        \           \"prefix\": [\n                \"MS\"\n            ],\n            \"use\":
        \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
