interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiZjgwNzlmZDUtMjIxZS00NTgxLWI0MzEtNDk3MmIzMTI2ZjQzIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY3NH0.r9NTLqCmYgPbT5zyJZEenXLitD378lvRrE5gcv-o-VuOEprJVPnQz17pv6XUwkpPLhTjtFXWIp8Q0iTIw7Z2KE92O-A-TM_rb9xIlUhYNZdICqOYdumLB7JJ4_LAkVg_BQDddrHXdMydB7tbN0-4QsJsQfftKUl8y6yCUH6hAqg5263G7MFGZDwrFHAl6K9GdxNsMN7RAWyJwNu6_GJewxm4WC1b5UGB5dGJwJ8jLz0Gq4eGvd5wOT5AE3n6DEv0JWdEt_txzDlwxSL0mfBI_r-Zgk-TbyJ-1zHTmS-AaRlgi0sRq-skQEDZepyL_j7z7oZ753dpGmx4T24EgKQMc2NfzaTCPMoQ1ht_-__RwmEYXCWzzw8qiI4hBlWZHBsHmOjFN-8B-gzfhRNM86gffb5A7AvKe7u_5OLauo6QdUOLI1LtqczunzzqmoiK9CuUrqwS0wbstpE9dkI2wY4kvzE3W2srBqZYV6TxtCpFuN0P5lmbenAA_lZqftkPrmaILyMOW0dcG-LOqu5H6bkNrhJ5gywYVeyAJMZREFwxeps92QdtnKCVOiBKTNqxSXGV-KtfnisZtrTmJMxxJ1SBOc7vLeSG14U6gQmkDLGUPYOAjI8xnZJKhBQzZirzcSln2hZu2C5oNqiGzGBkcF3CTndf7juS0zWUgYwCdeEImxg
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"Y6TcR3AGSFaAKR4PRJLPZTPkbgzo\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546374740\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-8139994242109292720-c-geu2-23849-1073779-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer Y6TcR3AGSFaAKR4PRJLPZTPkbgzo
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002424
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"16681678\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"uJQEh\",\n            \"line\":
        [\n                \"MARLAND HOUSE\",\n                \"HAXEY ROAD\",\n                \"EPWORTH\",\n
        \               \"DONCASTER\"\n            ],\n            \"period\": {\n
        \               \"start\": \"1972-03-05\"\n            },\n            \"postalCode\":
        \"DN9 1DE\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"1962-10-04\",\n    \"gender\": \"male\",\n    \"generalPractitioner\": [\n
        \       {\n            \"id\": \"MjCDi\",\n            \"identifier\": {\n
        \               \"period\": {\n                    \"start\": \"1991-07-31\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002424\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002424\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"SPEAKE\",\n            \"given\":
        [\n                \"SAMSON\"\n            ],\n            \"id\": \"CBfGT\",\n
        \           \"period\": {\n                \"start\": \"2008-09-07\"\n            },\n
        \           \"prefix\": [\n                \"MR\"\n            ],\n            \"use\":
        \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
