interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiY2NmOTI2NTQtYzk5Mi00OWRlLWE4NTctZDEwYTczYzllNmQ0IiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY2M30.gsHgERVg0DeeziIQRgKFOOtawK4ZMu1fGE0ftHcYG9kitFs5CFbuqVpOnmkFDkfQI9j8i-qUhDRZU2gxz6c8T-UJAAb-JpPXa1MHfumL-_H9mIgD2KNAGb_wjv36YpeeFPy9VKHoVzOhR3skMuekaVIN4N32kS1aZB1oqG9YAE_4m18oPPCZbclDBXVBaAibDXmEPEDIIQlSzHRhPon9nIZmDum2d-2uvhRjTuUT3IfyCOhZj13hrBzKplUZXdEvopaQH_hZI2yzAcsoPBPBxuS86MixJjJsw8OUtR9TC6NOGy2uWXnnqv2llf9YSGYSIQutq2SVQ7H6ieztTwPkUZQF13jxzftb4HHyS4JDQI-jjFkCW1w2LPt0kt1KDsR6CMG-kddF161ZrKl8G7SXh3ZvNOdkaGRvEa8y1dLmsa0hyRJrqu5C21Qv15lBrm-ajZP-Qh1997sk0vRJDWuDttovLzmw0gEdR9_nx_twArt_18BkeVzV5iqcnzJQL64mmttsF9a7DvnL3-H5iNlbgf2xbStN3IMUURpFlZJc-SwK6PqmZsyzOZHTPbzYo-u85yKZIvGSLueXgYCwli6gG1TpQteYinKpcvI6xrwI9lYpwg3xHPJNosxpqq56DTx4c5dGK21pcUpQJovtnTbuKbDTdTJHasNKFKnDQKE4DLM
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"aZSkOzKkphsZZuf2Aepg9lMduwnH\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546364467\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-3090325540648010282-c-geu2-23838-4584662-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer aZSkOzKkphsZZuf2Aepg9lMduwnH
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002459
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6293476\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"soJLq\",\n            \"line\":
        [\n                \"1 PASTURE AVENUE\",\n                \"BURRINGHAM\",\n
        \               \"SCUNTHORPE\",\n                \"S HUMBERSIDE\"\n            ],\n
        \           \"period\": {\n                \"start\": \"2010-09-08\"\n            },\n
        \           \"postalCode\": \"DN17 3NF\",\n            \"use\": \"home\"\n
        \       }\n    ],\n    \"birthDate\": \"2009-08-20\",\n    \"gender\": \"male\",\n
        \   \"generalPractitioner\": [\n        {\n            \"id\": \"nQxXI\",\n
        \           \"identifier\": {\n                \"period\": {\n                    \"start\":
        \"2016-02-26\"\n                },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002459\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002459\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"LEASK\",\n            \"given\": [\n
        \               \"Owen\",\n                \"Oscar\"\n            ],\n            \"id\":
        \"WIZAh\",\n            \"period\": {\n                \"start\": \"2016-02-28\"\n
        \           },\n            \"prefix\": [\n                \"MR\"\n            ],\n
        \           \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
