interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiZjFjNDdkNTMtMGE5OS00NjhiLTgzNzktMjNlNWQ4YzlhMDc2IiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODc0NDIxNX0.cooCPYjKiUNRdwIfsrRViHbOxaJNHinEqmO2T6h3eKFwlAU17Umr1xdnll1fpZZySobUizizJykyczFbaxjndgrR0W4sOidYn50rpgUhe232t1_tNbzLpFHlbJW8S_XYMzxjXikYuhv_DnLdRbQWpYIugGMHmO0ankphHqoP9wnzEwPwn1nndOyzO-S1vxy_uIZOS0UJMHABJ3Fj0jyeD54dKtsikEqcOgj47JCqHxy2wrY94a5K8Z-KepAOZw6_4QsqYKZGrjVPH_UZ1SYDUGW9IwAu0q_AHS5usvsAgpn_CaNDddCreGKIIbKakUYjJpLoWRkZrN1E98rEmb4eCygzCAAQJ0BFBDJdVDcL4yelzDPQtEGxsDEPDsa4TQ4i1ThQoTBC1ueFF699olGPiZBULHG6Gx8fyuv02t5lT02Z2wCp_yHd-LD2dsO66tO2jYmZHV0PycCRRBKDHY_SYeL8aGVTTyhouKW18uWkb5LYb30qYR-YAHBsaa32bDFROzGFFKopWNVKLLrzY2j5EZsdhkDbuaL5JSnCwpf2hkIs78xHQNT76lSV1C02SSE8btk-YJTS10gj0a7xW38rhfGG7d6Gp4cE4SN_fwkMLOV2u-XEruVIT51BKk841-nBd97Vp-zmHXrd_af1D2oaZruYB26IJDicWlUSQT0_9ng
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"xXsrVUhTAqtRLAeANRjexCDn3Y25\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678743915709\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-6993166222353329305-b-geu2-24095-4870131-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer xXsrVUhTAqtRLAeANRjexCDn3Y25
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002424
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"16681678\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"uJQEh\",\n            \"line\":
        [\n                \"MARLAND HOUSE\",\n                \"HAXEY ROAD\",\n                \"EPWORTH\",\n
        \               \"DONCASTER\"\n            ],\n            \"period\": {\n
        \               \"start\": \"1972-03-05\"\n            },\n            \"postalCode\":
        \"DN9 1DE\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"1962-10-04\",\n    \"gender\": \"male\",\n    \"generalPractitioner\": [\n
        \       {\n            \"id\": \"MjCDi\",\n            \"identifier\": {\n
        \               \"period\": {\n                    \"start\": \"1991-07-31\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002424\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002424\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"SPEAKE\",\n            \"given\":
        [\n                \"SAMSON\"\n            ],\n            \"id\": \"CBfGT\",\n
        \           \"period\": {\n                \"start\": \"2008-09-07\"\n            },\n
        \           \"prefix\": [\n                \"MR\"\n            ],\n            \"use\":
        \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
