interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiMDJiOTY2MWYtZjNlZC00ZjQzLTgwZjUtNDc4NDk4NjlhN2I0IiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODc0NDIxOH0.sRFT1aH8y2IbdUXM5OfeocUXX8aYyLF2DuoB8Ur1MLQ6cRCn1SWYWChPkNdZb5VqxRoIQSUjgosZO6UQri4YvGNiETPfQyPfydEJfNb49rbL6KOmuKYqCZ89m6ttSiylyZn9fJfGWIsC6Q_6_loayvwfSr0t8IC0AZ1Mb14CYUBYvqT5ft7mwmMMZztykUVLg9pvAbn_Ltz4woMh9sL9EAza3XiyiRjcBVvnXb2KhMtmjtNE0Cv0AiYIiCNOgQnuXmq_WEgBbRU0fUDbY4EZjXLgQHtPNXvex-KcDSF-86RIbLWIiRgG43cEKjrDCQc8kgqG49xXmBKzUu_6WOYJCCvYnw3cvLlb-3X6vZa2bQ1oi1RkckKPedEX8qGOySEUw3azWr3mC2SQ3-GIhXw5hJ8yGmhdAG2c_9KuD7VELvxs8979EDyQR-7FOyKws_HpLtEdsiSfLk_4qAOgHiZuuR0hIhuxavjw6M6U9VWa2Po2QPcNzOPKRljebFx8L8joPkQEgzxwmMe7AVDMBsz0svtKIjgqqotrj7v58HSJfyC3zvm9CzJ6j1CYni5MDhLaZFJtVmXGHEZHdpYhhYmUZleCd3lC2KFFRSsl8URUf9rV3WgYHaYudR3zQ41uXDzY129RjkIAqisi8YTXjeoL-Qr9r35NszGnCkWelXYz2Ec
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"1vIXWWbJAHXnMr2GRTLY7aQ5Y1Bb\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678743919294\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-5197799171693813489-b-geu2-23632-5286882-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer 1vIXWWbJAHXnMr2GRTLY7aQ5Y1Bb
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002483
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6291903\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"oWvXW\",\n            \"line\":
        [\n                \"23 WINDSOR CRESCENT\",\n                \"SCUNTHORPE\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"2017-10-29\"\n            },\n            \"postalCode\":
        \"DN17 2RH\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"2013-01-04\",\n    \"gender\": \"female\",\n    \"generalPractitioner\":
        [\n        {\n            \"id\": \"HCmmO\",\n            \"identifier\":
        {\n                \"period\": {\n                    \"start\": \"2021-07-17\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002483\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002483\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"KIRBY\",\n            \"given\": [\n
        \               \"Carrie\",\n                \"Elsa\"\n            ],\n            \"id\":
        \"UsWPZ\",\n            \"period\": {\n                \"start\": \"2016-12-12\"\n
        \           },\n            \"prefix\": [\n                \"MISS\"\n            ],\n
        \           \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
