interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiYTYwYmNjODItYTc4ZS00NDhmLWEyN2UtNzliMGEzYmMxZmVkIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY2OH0.lUkdDgt2jalS_PF0mMlxou0IZdEMiwVii7qPgL4uKyNVPGbawirpmhYqtXcyGSM4CtqbpJ05So-s4mEUENk1gp2JcckRQT2ureLfMaT8DGRtwIrubKrZqLWRoqYAVXL7rsCiy9g92iRvyvUBKZHjX7BmFJUJWb_6gY1o-o5y8BRFVafgqVzUOdGehhG2CvCXLUo0yRxjySz1wb2rvwh7DJjGv5O6nTUv7rtW4H6JtBN9D2D-Ve2SsfqqCiJDa_gwKxBa0SNBzZLPpvrCsDARhAmnxbVvtgJszmP9U13eFjAcTm4fINBJzMQZ9f0tOzqecgzOx-CtDIEzwqnZyhKh0MlAcuEMHURjX5nl5J0V7fyXiNp126BRNf9TFmYQ66sPbbiha6S7NcMvRtOeKbWrj68XArocOjT8d_dVvBBqeSFDV_k3T6MLK-mvnJT1dFQD-IeXnWaaOEBDkaDmfEuxPVI12-XSseQIO1Q9mA1dLwKLghjY1eNzcY6On0a5xk_g8YcYeRrziwGZ46zXeHgU2NO4xpug86EQA_P625r_plRM2ncBO9eOknnlCWaFE5CtBrKu0Zn3vZ7uQHcwUPhFH7KADzCga6VRE5KUeX55rCR4ygoGQ-Dus__urm7eYlt-lOyRv9TPOYDe2dg-riizkzcSK8kVo9klykRuLLUK2q0
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"ieywFvg9kAqs9AMuWjQhLA8oYAMw\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546368942\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-3692895579532269097-a-geu2-23860-770906-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer ieywFvg9kAqs9AMuWjQhLA8oYAMw
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002513
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"16653833\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"QpENV\",\n            \"line\":
        [\n                \"1 SILVER STREET\",\n                \"BARROW-UPON-HUMBER\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"2017-07-11\"\n            },\n            \"postalCode\":
        \"DN19 7DW\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"2011-08-11\",\n    \"gender\": \"male\",\n    \"generalPractitioner\": [\n
        \       {\n            \"id\": \"ENcWm\",\n            \"identifier\": {\n
        \               \"period\": {\n                    \"start\": \"2015-06-10\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002513\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002513\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"WYNNE\",\n            \"given\": [\n
        \               \"Irving\",\n                \"Antony\"\n            ],\n
        \           \"id\": \"knPhL\",\n            \"period\": {\n                \"start\":
        \"2015-03-19\"\n            },\n            \"prefix\": [\n                \"MR\"\n
        \           ],\n            \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\":
        \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
