interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiODM3MGU1MGItMzVkNC00YmQwLWJmNmMtMjMwNDc0NjI3MzJkIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY0NX0.DBziuPWLMQ9QKak_b_qDrgd7LxCWFOMfHA7QASzz1ZGUjNb5_DdXPbB_TjIkLHi1TbPEB7oKvK44EVIMPjFtjLI5jZbTr1hvSIk6w34oRcFKrKaxxzomD2HSUJDMP2AgmmBjQSj7kWpVIxOwgJZ0Q_JADe5bRMFdMIrwuRKa37xR-U0eVOI_mWEe4nMgIeFRp4eLASk8JzbzzpSqoEsPcuKXn_ggthvy_MlOwSynD7RwAAT8gkxowFsxtpSUhfUeCTnomiQux64Sa7cLDc-H2TBJGgfZLbT2DRQCr0PKHrd9xbMkZMvcT9hAD389oaTTBmvloV-pYOUijkwgv_63Qb5fHFJTMNeGiMzoS5ocfWQ7D9wXxlb35k0laELRQUUVY-2oVdgRZza-kmtIa3aqpd8DACU7y81WnhwLZBpy36DT4h3ivRwRAYNaKROTlJAr5LCtFzMsYbBZj5GKuKutQ1NGGvHgNBjUiRrjCgN-ukcK5jyWJi2D5ljq02BGNRfnWZUwRITdewYw3aBgmHMidP6hE2aAMrIA34x73DfvCWIiZfSXe9UMp5LZUkpmfhfAqiqanbd0k2e0mt3keKh6cLhY-xMTl2Z5V14IZB9OOYu9_ihLMSUDOkt78kLbc3UuOv4ePljPjD9Pcnom_wwTQGI-HDV8NHlTUZwPKNwbtn0
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"R1vuMUWJgHqXik4lLcbVS3NT4GTd\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546346210\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-3090325540648010282-c-geu2-23838-4584033-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer R1vuMUWJgHqXik4lLcbVS3NT4GTd
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002416
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"16648460\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"cbiIA\",\n            \"line\":
        [\n                \"106 EARLSGATE\",\n                \"WINTERTON\",\n                \"SCUNTHORPE\"\n
        \           ],\n            \"period\": {\n                \"start\": \"1997-07-06\"\n
        \           },\n            \"postalCode\": \"DN15 9XD\",\n            \"use\":
        \"home\"\n        }\n    ],\n    \"birthDate\": \"1962-06-19\",\n    \"gender\":
        \"male\",\n    \"generalPractitioner\": [\n        {\n            \"id\":
        \"qWobI\",\n            \"identifier\": {\n                \"period\": {\n
        \                   \"start\": \"1990-03-26\"\n                },\n                \"system\":
        \"https://fhir.nhs.uk/Id/ods-organization-code\",\n                \"value\":
        \"A20047\"\n            },\n            \"type\": \"Organization\"\n        }\n
        \   ],\n    \"id\": \"9728002416\",\n    \"identifier\": [\n        {\n            \"extension\":
        [\n                {\n                    \"url\": \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002416\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"MORGAN\",\n            \"given\":
        [\n                \"CADOC\"\n            ],\n            \"id\": \"ncyKs\",\n
        \           \"period\": {\n                \"start\": \"2000-03-19\"\n            },\n
        \           \"prefix\": [\n                \"MR\"\n            ],\n            \"use\":
        \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
