interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiMjE2Mjg4MTctYTA4Mi00MGY5LThkNzAtOTdhNDU2Y2ZiOTFlIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY1OX0.Gmh9mccyIKFi5lDC5aLeRE9D4gqraILczxd5LWcwoi1FiJoEzWYlESZBW1eiKskrCaPPkJQc_p0APfhPIZDA9AbtZ5lLP4vzwzlj0vbbAiWv4cmNHg8Ljt70MnNgpcD1hoM7uWZRUH2TXI-PU7zRnSEWb3gVd7pwc4APC93EM_iOtZ_lUSrJxKhQ_ry-sIXj6WF-S9FEjfI5SwzIs5Kyv-Tyb3cDOT_ssNog5g_vTPqfO9j-tNu2YOWSayZ8YW4FsTGWjlbplhhQHu8IZ4WboEoMNWA_IhQaKpTx474oV7KIc-Mx_rm1XEf_NqKMUTfm5wQHMayOmfhw0-xxdD9kV4SMY-d_QAM_Z2mu1AMAc4Ria_e-pq4f4lZy24khJCu3UjqOQO0awvIkE800PsybYSwQp86-ejVjLnpTocmPyZnamJ3aQbdhXySya0h2MhcJHwQrP8JZJCxvJNxT18a6E9oWF707PUdhcQGP1MfwWLl3LYYwMkzicBpWBp3aZNrcADZzIzaeO8Vvo33Ev0HAfTPraIuj4a0uZfCwYErRk2Z-xeJC1-wf1bQoHACARUnbi_6uUgZjUCJgOOv_x8lUBeNc87PQJcrsrMgpgP9m4gxwFdhriroiBU9Tk8MFAN1PFrSBNxuuKu_3B4V7DBKHPdg3sF1z0sxFnRzHPXFb0ps
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"rR0BrAAibRi35HUvUnVrMdkU5xiu\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546359929\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-7882394486086254890-b-geu2-2445-9846011-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer rR0BrAAibRi35HUvUnVrMdkU5xiu
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002394
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6308537\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"NXfLA\",\n            \"line\":
        [\n                \"53 TOP ROAD\",\n                \"WORLABY\",\n                \"BRIGG\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"1984-02-10\"\n            },\n            \"postalCode\":
        \"DN20 0NG\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"1960-08-18\",\n    \"gender\": \"female\",\n    \"generalPractitioner\":
        [\n        {\n            \"id\": \"YgoiM\",\n            \"identifier\":
        {\n                \"period\": {\n                    \"start\": \"1965-06-28\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002394\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002394\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"LOLLA\",\n            \"given\": [\n
        \               \"AGRATA\",\n                \"BANDANA\"\n            ],\n
        \           \"id\": \"TWVNH\",\n            \"period\": {\n                \"start\":
        \"1990-05-07\"\n            },\n            \"prefix\": [\n                \"MS\"\n
        \           ],\n            \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\":
        \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
