interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiOGI0MjUwYzQtNzMzMS00MDJlLTg0ZWUtOTM0ZmUyMWI0NjMzIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODczNDIyMX0.UqA9dNLmNlkoELlIFzTLmMV5h3qS4iRFPusCTaKgVIy14_Uxno8S9tBOpwq3pJsaoSUa74uAFZ_wUeD-2v3pJWTVVKXTtmvrbezeKwYHHRMZIWlB8DsGZTc7N2aidKzhG6Vq14NiM-CDaGp7ozODE8CYe7OzxlcdiwIBMmpshQXg_j0D0c9NsvwuzvooGkURmnpah5h1mQPVabWdBa7pfep9R5wASJ67WjuvdwGCdCcPhQYJTZ5I7lWFZeiejiQo4LWhxArVYXdU7u6hyhb4JMbXcpMvUGV_iQOC7kaBzKtIv80kuX3lO6ISwCYfodtivQZekxcdXzddcvTW_CkKeF7723KkRGIO5Mz6rplmtbVYA_Qcl5MuWIOQTya29efN3Ax6vvJuIfDLQkCVRi1-ObfEzqvCicsz6zBm6fAhfwkY4pKJwGzMYkq-YcaiS_5_HomPaClgAZxFPaIiJh8cYuH183iTWhBcet85qc2AY2g40IEjSQU9ssUpVkW-CCenTWAc1aCKdXnpcjAJk9lukUJR2_BZpI5uRXgqxaQxs8cqEx-5sQEimNKLXKIYrpqUIU2hOSbpRoKUt8AK_fQjxkyWzTGtst5Xj6L7HulDkKtPAhp60yhWT8n2MGhRDYS_QIXKti-8Ph3PIBnGNZBYxb2Rb_tnDYGvyygjr5dM_i0
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"fDOtFEAhgc5LAcnQhcXYPTLIgkpd\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678733921807\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-6429952639544503531-b-geu2-23791-599480-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer fDOtFEAhgc5LAcnQhcXYPTLIgkpd
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002386
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6271121\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"EOSXw\",\n            \"line\":
        [\n                \"24 DAVY AVENUE\",\n                \"SCUNTHORPE\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"1979-06-19\"\n            },\n            \"postalCode\":
        \"DN15 8EZ\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"1959-03-28\",\n    \"gender\": \"unknown\",\n    \"generalPractitioner\":
        [\n        {\n            \"id\": \"mIcpf\",\n            \"identifier\":
        {\n                \"period\": {\n                    \"start\": \"1988-09-18\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002386\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002386\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"SENGUPTA\",\n            \"given\":
        [\n                \"SUKHSHARAN\",\n                \"KAUR\"\n            ],\n
        \           \"id\": \"WenEV\",\n            \"period\": {\n                \"start\":
        \"2017-02-18\"\n            },\n            \"prefix\": [\n                \"MRS\"\n
        \           ],\n            \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\":
        \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
