interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiNzBjMGUyYWItMjc5OC00NmJiLWI4NWEtYzMwMDVmMjk2MTY3IiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY0N30.YAgM-snIRNCkIoTzzl56I9J5d-VmC-oQiwYg8UdFtRAijf-Gg0yhVG2zpwF80w1oGQ5EvJu21KIQfTmZyPwAzyVTYeBqm-tP-OxzHqxj-xdCSfJA8oqN2AeQxYoUzuQoi2FWG0dG6g-s6xCeqmmoXCSvs-ho_13EZ7nnxd8XMAC-wQdwVBtlLIlat6Vpn_6vNXJ52D8qcUGobbe7Kj8BAyiHB6g5WsgEzhRiPmxaMIHbLlHTq0Vuffnbcu_GsNaRldRY3ogEyvc2sH1EX2VYrAz43_F3-o4AfhbgrM83s_dwSnmk09CVi7U5gq0kl6Bp95mT2QhhSpv4KCtG4Q0WCGeIOi9n6ZBQFcRs774nznOrR1c70_9ra9VFOipxgtsm2xZMKEdc2ErN11xwR5egrQrq_eEBHBVVaJ3HeJ8iy4tsZ_2SLS6GJEyYktEmTY_zavICnSCF58mrMNg3NnVgd_WTbzVQFeE-Jf2f3MLODzHi8OiuwYj2G3flNZj_I9fayiMGGWihcqceNmw8jd_AXWmOrn4olpsj0qyG68Ve0RXiAns-zlWxtQqMk5An9tAKaDuk_947C_Jout0hxEYC_vv6AaUIkyMXEuf8NDnw4k5IjFekwqw3TzgJ7hmmBTIqYXhb0-7f3jXVCAa2XqpZqTUMB9wqYnGKrVZWLCK1NVc
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"F4KpUCaO9u9gAOMhx1UoPYEDrROg\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546348054\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-7882394486086254890-b-geu2-2446-9845628-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer F4KpUCaO9u9gAOMhx1UoPYEDrROg
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002505
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"21508651\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"pNOMY\",\n            \"line\":
        [\n                \"10 POPLARS MOBILE HOMES\",\n                \"SCUNTHORPE\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"2012-07-23\"\n            },\n            \"postalCode\":
        \"DN15 8UN\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"2009-10-15\",\n    \"gender\": \"female\",\n    \"generalPractitioner\":
        [\n        {\n            \"id\": \"eaoQU\",\n            \"identifier\":
        {\n                \"period\": {\n                    \"start\": \"2022-11-14\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002505\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002505\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"MCARA\",\n            \"given\": [\n
        \               \"Esme\"\n            ],\n            \"id\": \"jmrqM\",\n
        \           \"period\": {\n                \"start\": \"2015-06-28\"\n            },\n
        \           \"prefix\": [\n                \"MISS\"\n            ],\n            \"use\":
        \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
