interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiYmNjY2E4ZGYtM2I0NS00NzExLTljZjYtMTljM2U4ZTZkMjY2IiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODczNDI0M30.hVfjyBLfcjZIUDm_8GtB5yT3rBO9X_6Wu4Q0rPPICfkOz4TVsvqlZ0_0YyVkZOYGJeBpz0fUAjiQjDcb8CNVPk5GuhiVi7EDPPxYph8Rrb6vLeFNk_Ql5hsOyj05VVVeIPPn01HCrp2Fbg8k56H2GxV50dLVqOE9rHMTyEa8gRT7hu19XsUdIpZF7XsRLGuNzDwvBGIjPODPUohmpjVPcBaBVIL_rrjjxF-Vo47VTU9JQnoYcedhJ2rUKfJYAIP3MTsiW8FaaN783dx7Ef-EYKJolOtXCjFXDf0eJx-sSRdmTDdzil_mueA-qTQYrY_dhuSrVrFR2eBp6GEx9K3aYAjjO6FT4vwvMabKA1UpPlKhkAIxh7ECLQtN8qlNSPbwpb3mKQeDP2XTYjkwXPqZ0l0G4XaU0Mz6FVuME0LjQ8j7ItZarXmQsxwyLeT0QhkR0ZewEMKDMzFfkSvXilPbAagVgV3_LG_5_GgQn3BKr4rOow_7h7pQrHc3VD7CZaEyUYTYobdaR6Ft7gxilDWDAg_h4Zb2Y7M_4pjtJJcrIgUpHPwHNLMva1XZ4b4qc5c24XyenX_eUavQgkswKjU4tVOlmF8nGw26J1JwfB51xkgOwwnV6TIZR7GxxeED4lw-76x4hiz6i9G7w0hJY3LaVulBrRzEDJsrUNusdkQGScY
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"G0TTPLIJtvCVi7TBSBYvYR8HRXwv\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678733944245\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-2317811097629275444-a-geu2-23902-7776517-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer G0TTPLIJtvCVi7TBSBYvYR8HRXwv
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002378
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6310047\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"UyInZ\",\n            \"line\":
        [\n                \"48 GLEBE ROAD\",\n                \"BRIGG\",\n                \"S
        HUMBERSIDE\"\n            ],\n            \"period\": {\n                \"start\":
        \"2017-05-18\"\n            },\n            \"postalCode\": \"DN20 8QF\",\n
        \           \"use\": \"home\"\n        }\n    ],\n    \"birthDate\": \"1961-06-08\",\n
        \   \"gender\": \"male\",\n    \"generalPractitioner\": [\n        {\n            \"id\":
        \"ZVtUk\",\n            \"identifier\": {\n                \"period\": {\n
        \                   \"start\": \"1964-10-11\"\n                },\n                \"system\":
        \"https://fhir.nhs.uk/Id/ods-organization-code\",\n                \"value\":
        \"A20047\"\n            },\n            \"type\": \"Organization\"\n        }\n
        \   ],\n    \"id\": \"9728002378\",\n    \"identifier\": [\n        {\n            \"extension\":
        [\n                {\n                    \"url\": \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002378\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"PUCKEY\",\n            \"given\":
        [\n                \"Miles\",\n                \"Keith\"\n            ],\n
        \           \"id\": \"QOKcp\",\n            \"period\": {\n                \"start\":
        \"1995-03-27\"\n            },\n            \"prefix\": [\n                \"MR\"\n
        \           ],\n            \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\":
        \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
