interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiZTRlNWE4ZjgtYWE4OS00ZjdkLWE0MmUtYTJhOTVjMDBmNjVkIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY0OH0.qWNqcDIyili5QVvJGUxtPZfsHpSt8oU_-Ur0GR-YbdT8O72VLXp8P9nDdH4B4D5tlBzqKUQNXybI2ypiQ-BNTR3268FIKlqXBKoFw4RwU9rpmemA2OVGQL-7jN8e-mh4NNSSgPbgodxPxku3wpeRm4TgdAM9cJOUQpZmHfGkAbexLla03XDIx2-eed56S6UbdXdkwTvGXOEv75ufJ1uc_hwB6Kw1BhITB4d6k3i-zanSm_R2UFC003gQAjAdA0rWIYxAo2psimp79oeruXax4IjTDkmgTq-CbcxBY_diyP6qjb4qpAPxUpB1K_LAKI5EbXsB3-GWrsf0baN5GzUC31aJjvFLzPwd8bgadL-nPltOd0A5s0Nm2w0PUT2xY_heENcsU9J52Rk6m2ooP9ImTLV9L9DXl3y0e1-tOc88sMMgGaICUn44C1PAjr_Ya2mHuH4Z_F36uly077OlUh0UYA60II44k1P4ynBxgmTqtFFgE8RxlZ2MlUk7MW6__SjN41Z1bAa4qgdMHKjH9c3f8ptyjDtbStHNPiwjf8dt__rphF8DSzskM8ptC4Op1FTZgsTIxcbw8eryYhtAoem7cuRwMZ-BP72jYkWgAkYPwpzgkwKDzsRaakFGRJOTEx21FnYXuTA6XmEL-zBy9QiEdVLBi_oxQ9ZiaFDPYTxH6YU
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"RHDVFGfHrKH4xutjYH1uTqioa9KC\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546348952\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-5796924268849740678-c-geu2-23813-88536-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer RHDVFGfHrKH4xutjYH1uTqioa9KC
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002386
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6271121\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"EOSXw\",\n            \"line\":
        [\n                \"24 DAVY AVENUE\",\n                \"SCUNTHORPE\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"1979-06-19\"\n            },\n            \"postalCode\":
        \"DN15 8EZ\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"1959-03-28\",\n    \"gender\": \"unknown\",\n    \"generalPractitioner\":
        [\n        {\n            \"id\": \"mIcpf\",\n            \"identifier\":
        {\n                \"period\": {\n                    \"start\": \"1988-09-18\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002386\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002386\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"SENGUPTA\",\n            \"given\":
        [\n                \"SUKHSHARAN\",\n                \"KAUR\"\n            ],\n
        \           \"id\": \"WenEV\",\n            \"period\": {\n                \"start\":
        \"2017-02-18\"\n            },\n            \"prefix\": [\n                \"MRS\"\n
        \           ],\n            \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\":
        \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
