interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiZjFkZjIwYzktMDM3YS00ZjcwLTlkMmYtNzU3N2Q4MGJkNzNiIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY2MX0.Ldd425qjzH1RpJLpSUgsNx1Im1LlwZQAoZM-9BqaJERuBeaQQZTFRwFCFI4z0ZbCDjkJeiFK8-aUj3qCuGL0tD2yYqIJ-aP85C49i7_oc6PKNFrASRGxETH9vNvm0sRmJeQsKZIfr5_TOmr5wgpZsPaR3JKGO9h_d1dOQXO5FMM02u2OhhUbSYMgkLS3XIZHnGLs9QtHvR7XtQPmSHOzxQ1g6cQ4DMWhru_DjAMxBlQuahy7PFm8lXKyOfMX2aCFlZrLbGcyXDrcnpWKxkknG7BLCH9AFFLHVGYp7fe5n8Rlloh2m_x2FnQxE1yc1y_5sKi-VyOpgutLXxJvvfeN7NkH5grtmUkEZawrMr2KM4zsW08ETbKSLQfa4pjPR8oP-FEYlG2C2A2U06n0J5Kff56LmJzJBU_7vLxnZvIYDuPKhUe161IKHbVSNGnvS-J3vRYWrNRQNpKpwZHsloAjGK0luBAw9hgUD6DOKlmGh3IKj54TZRy7QttZgRSYqaaZBfBFbPJGppLY0YBKt5z-SnDsPewfORYYtZyEs07GUTCTcVwCgkUmAune3ft0MVOPqe1NV66Pdqs0MKAF3UkVC4BF33G0pXbDPOlCS5R-pYOuzTzt4Cz2du502PFvhCvuE0guGUHM-Q2gFXv9jNiA4FXprnveT-V9VK_cj5KjBxI
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"Jr4wTeLkRffa3T4hljA9k7FkpjdP\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546361782\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-5796924268849740678-c-geu2-23814-88897-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer Jr4wTeLkRffa3T4hljA9k7FkpjdP
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002475
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"22408060\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"eUZvb\",\n            \"line\":
        [\n                \"CHAD\",\n                \"STATION ROAD\",\n                \"ULCEBY\"\n
        \           ],\n            \"period\": {\n                \"start\": \"2010-03-24\"\n
        \           },\n            \"postalCode\": \"DN39 6UQ\",\n            \"use\":
        \"home\"\n        }\n    ],\n    \"birthDate\": \"2009-06-16\",\n    \"gender\":
        \"female\",\n    \"generalPractitioner\": [\n        {\n            \"id\":
        \"NRzTw\",\n            \"identifier\": {\n                \"period\": {\n
        \                   \"start\": \"2019-05-04\"\n                },\n                \"system\":
        \"https://fhir.nhs.uk/Id/ods-organization-code\",\n                \"value\":
        \"A20047\"\n            },\n            \"type\": \"Organization\"\n        }\n
        \   ],\n    \"id\": \"9728002475\",\n    \"identifier\": [\n        {\n            \"extension\":
        [\n                {\n                    \"url\": \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002475\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"JORIE\",\n            \"given\": [\n
        \               \"Cassie\",\n                \"Mabel\"\n            ],\n            \"id\":
        \"GWRUv\",\n            \"period\": {\n                \"start\": \"2009-11-11\"\n
        \           },\n            \"prefix\": [\n                \"MISS\"\n            ],\n
        \           \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
