interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiNzM1NWYyZGQtZDA0ZC00NTUzLThiM2ItYjFkZDk0ZWNjZGJmIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY0OX0.TiARvIm_SnL3N6GRa2V3FO7Fq5CjGd03xu6bZjBTAMMh7IiJ2qwzbG73mFX8T8E_7eOxImUxDjXU_3ikmY6nyR27YnIjLDI2o6riCsPAUKeYXa-5txX55IZf92kIdShxS99AtpjfNvlMMdgHt0RVaoMr9doPPr9y1Qjf26wMsOZQwFQSxg_4KUsPoSawfspfoHS2vYOhL8pJeovXjQLanNUgwssNBWzP1SMZDD49ULgPTasvdDkLUAvu95kRRwowQ9FivwrSytV6WDmyam_lUQrmwooP2AydrNpeoLIg4B-W2Yb01NdWbJfTrxVRsgnW6rGztBI5_ZovOpAqArWmpYTWeybTSHKXYwqZvqYOcdpsjA4BWTyIoJum45g8baTtCTqnTN0omGwrtBTmc-6WdSBNuEwSf0MCjXYstyw5MeObBlProtKC8ur-1pmJ-n2OJp_vgg4S_2bojtnHT4AxgQdIP1VZoez3P6g9MoiOSdmptBgoIzvhzNVmdTJiZ40Salq0NA3FQqWSxGLEgUhvnFv-1lMF_FSYJQmZ6NbYe8pT1wCk4d4psvrAA_AtpjWQzM_xvXH6gUwNNLa2Aybg4eLO1Cm8Bd63RPEnri4WqpzT54utiIkLBG2duY0bAkllUUme868Q3c_bZFp1lByRzcupIO-decsOROHJjL7Vmio
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"uIU0Z6FAYzaddv05Q1kmbHo4avVL\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546349848\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-7083364839126956003-c-geu2-23862-3221700-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer uIU0Z6FAYzaddv05Q1kmbHo4avVL
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002343
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6265983\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"RGTpr\",\n            \"line\":
        [\n                \"20 FRANCES STREET\",\n                \"SCUNTHORPE\"\n
        \           ],\n            \"period\": {\n                \"start\": \"1972-05-13\"\n
        \           },\n            \"postalCode\": \"DN15 6NS\",\n            \"use\":
        \"home\"\n        }\n    ],\n    \"birthDate\": \"1960-03-27\",\n    \"gender\":
        \"female\",\n    \"generalPractitioner\": [\n        {\n            \"id\":
        \"mfOSc\",\n            \"identifier\": {\n                \"period\": {\n
        \                   \"start\": \"1997-05-06\"\n                },\n                \"system\":
        \"https://fhir.nhs.uk/Id/ods-organization-code\",\n                \"value\":
        \"A20047\"\n            },\n            \"type\": \"Organization\"\n        }\n
        \   ],\n    \"id\": \"9728002343\",\n    \"identifier\": [\n        {\n            \"extension\":
        [\n                {\n                    \"url\": \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002343\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"KASAI\",\n            \"given\": [\n
        \               \"SUMAITA\",\n                \"SHAKOORA\"\n            ],\n
        \           \"id\": \"cDhCN\",\n            \"period\": {\n                \"start\":
        \"2013-10-12\"\n            },\n            \"prefix\": [\n                \"MRS\"\n
        \           ],\n            \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\":
        \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
