interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiMGMyYTY3ZDktNmVjNS00YTVhLTgwYzEtZjYyZDQwZTNmMzM0IiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODczNDI0N30.QbIOsA2ehTuozEVUUW3qVEnoy6iFz6fwrIsnSQSs61KVJlG7b-Kv-j7jHdoCYkC19x8x4IFIDETxIlXk3AUeKNT2Mt-66An1CafRQHihhxApcfTNMdidu-LFGTshjgJ9b3p-se2-QV6v-kxRP9bbC7xDH8HwW13YDMZ6HmvZM3DV_G9a8P-3dA4N-S1e_GzEItRKRx8nUvnKQPNR8k4ddsocODJs5ng2ANCQRBwHEJG01O-u1sZ_zVm7bWHcjGCZyuvr8hpFjOKATttl8CHTNOmo_VtLuh3rVAgIts6o9zE9z5kbNhCr060_t6UR_SYQPAtUfddARRHDTZN8HkuOFQblORSNaX8-q2nBD_uFHZrUqla9GFESwqHXFcVSLrg0mv80U3mAMHb0Jk0dtVR3KE2DEUDHfNAx1F21NC3mOWofOXudUS-HU6OKPxiwjf20I61_aIXvBlT708b9aOP-AZIZt4lAgUxaVGv0BVDmEdtecm_tmxIhuQ-fdJr2_xvk8_wk6e8jgjo2afsQ31vJ4_GEAVH2QX_sAA0aGJyoUnqlwSKz3sokh6zJ26dytljmUZF9W3777uWD0ZRDMng53nkZsqZ3TqFyMo1IHoJC1u6zj76Zhl7b1aTlNI2KrwAAg9RpGDBsHd9zVJ2uK4vMC01J2p0TJ90s35UbNQJGqyM
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"vAhxPUvOYAE9zbS8oArlYEeSUpNq\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678733948716\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-3977444640430452351-a-geu2-23800-1118223-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer vAhxPUvOYAE9zbS8oArlYEeSUpNq
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002483
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6291903\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"oWvXW\",\n            \"line\":
        [\n                \"23 WINDSOR CRESCENT\",\n                \"SCUNTHORPE\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"2017-10-29\"\n            },\n            \"postalCode\":
        \"DN17 2RH\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"2013-01-04\",\n    \"gender\": \"female\",\n    \"generalPractitioner\":
        [\n        {\n            \"id\": \"HCmmO\",\n            \"identifier\":
        {\n                \"period\": {\n                    \"start\": \"2021-07-17\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002483\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002483\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"KIRBY\",\n            \"given\": [\n
        \               \"Carrie\",\n                \"Elsa\"\n            ],\n            \"id\":
        \"UsWPZ\",\n            \"period\": {\n                \"start\": \"2016-12-12\"\n
        \           },\n            \"prefix\": [\n                \"MISS\"\n            ],\n
        \           \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
