interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiYjFlNGEzOTMtNDQ0ZC00NjVlLThhNmEtNTgxNTU1YzM1YmNmIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODc0NDE5Nn0.M8yMHRuVOZBpGFRWK0pNyX_HmtqX174gp8zM-ScVtejkUI2bZKRdwk13IBPYiZoGfrI6LPVxMR4Vf2ksBs2Z4uerJ632gjjvQYp56lHnyf92hoxEy17vMpZrYl6BJjn-u-ryAE3iuZ6Rev2AkiLf3gIcdWo7qhzzjAZVQ3EHCbwNVEWA4diH2azeCfH49F81II2chSrwoJf1BIj9ZvzeIMnzdnpnmZEHUaBcA2VgMzVTFcycsPxCHcr6q3NQHsToCRm39kec9v2-DS6DjL0VlwhGclIV7MB5MedwupFCyEshOZiUCeyzh0O20k7MZcOXIFe2k92DfyPEP7kFYvu2dmw3dLFU8RDP26aJj_NXGq1x9iYJYV0WYrciCdEPpsbXZn8QfPxshU_xNia6DFWajvYVzHYLfEuJPe_7p1TggmLgxno0mDLKH7lWtWDE0RKEITLS3GhPrifPyCbxq31cJNTGXeLZsP9YaT_tFeIsO4JZN9TTt2hRs94czHt5yS93M_SgkV1T4GRxQEGGrHnsZK0fii6-2rhOo8uFBN8yzjsgpKGSvkphbDEYWtwkqkg5aEJ-1AWpgt2bRwvVgwHW2mm5XkBMVw31LPDGgCP_q4Fr9SHF26ADFCOEvgomrQnE6_c21hgHGyvvjNsg4XB3dhAuk-c261ZuUrXIVcJpKGg
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"a6GoUcJZEsUL9SDmfAxy5KO9P6zu\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678743897707\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-2317811097629275444-a-geu2-23902-8025055-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer a6GoUcJZEsUL9SDmfAxy5KO9P6zu
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002491
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6298182\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"Smtad\",\n            \"line\":
        [\n                \"1 MARTINS CLOSE\",\n                \"BARROW-UPON-HUMBER\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"2016-08-26\"\n            },\n            \"postalCode\":
        \"DN19 7BG\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"2012-05-24\",\n    \"gender\": \"other\",\n    \"generalPractitioner\":
        [\n        {\n            \"id\": \"tCaKK\",\n            \"identifier\":
        {\n                \"period\": {\n                    \"start\": \"2013-06-06\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002491\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002491\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"ERLAM\",\n            \"given\": [\n
        \               \"Anita\"\n            ],\n            \"id\": \"kduxF\",\n
        \           \"period\": {\n                \"start\": \"2021-09-15\"\n            },\n
        \           \"prefix\": [\n                \"MISS\"\n            ],\n            \"use\":
        \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
