interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer ALpf88s4wjVxbgX7W04V5DhFtxah
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002440
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"32144717\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"ZtQOi\",\n            \"line\":
        [\n                \"17 BRAMLEY CLOSE\",\n                \"BARTON-UPON-HUMBER\"\n
        \           ],\n            \"period\": {\n                \"start\": \"2019-12-07\"\n
        \           },\n            \"postalCode\": \"DN18 5GA\",\n            \"use\":
        \"home\"\n        }\n    ],\n    \"birthDate\": \"2012-07-19\",\n    \"gender\":
        \"female\",\n    \"generalPractitioner\": [\n        {\n            \"id\":
        \"QAJvu\",\n            \"identifier\": {\n                \"period\": {\n
        \                   \"start\": \"2017-09-29\"\n                },\n                \"system\":
        \"https://fhir.nhs.uk/Id/ods-organization-code\",\n                \"value\":
        \"A20047\"\n            },\n            \"type\": \"Organization\"\n        }\n
        \   ],\n    \"id\": \"9728002440\",\n    \"identifier\": [\n        {\n            \"extension\":
        [\n                {\n                    \"url\": \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002440\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"SIMON\",\n            \"given\": [\n
        \               \"ORPAH\",\n                \"CARMEL\"\n            ],\n            \"id\":
        \"Dnclr\",\n            \"period\": {\n                \"start\": \"2020-06-29\"\n
        \           },\n            \"prefix\": [\n                \"MISS\"\n            ],\n
        \           \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0yIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiNDllZDkwODQtNzVmZi00MDNlLTgwMzUtNmExYWJhNWQ5YjQ4IiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY4MjQzMzk1NH0.RV1e9RH9e_bRAATywnbS6577x6H1VljDgHcs81cET_WG2418DjdgC1od5ZJ-vU3Gt7Ge-2fuvzf6sxd_eeJrN5IMQnn1epKQgdBkzDg5iZkqSYd0haLBmUB4GWcy9hvIMZmMCzaqkNXgXyOeRpmtYAMjQt9LqUH117cZjFHPMLN1qXB0ardjOJVI5TH6nca4mvrivrgIRFbObxTwflpWtDONBRfDYS04E5FijDePHRTO8Ex5zZ_gQXQyEwVwJPjbdMGFTqYTGVAPIr_-56-4uQ0K--4RKGdDpyHTMcUOO-ovHMP1HxLnJS2gGaHUXV5ulQf8I-fTn6H18OkHqJir8A19iszlJVKAXK9i-5ChaZDqkH_I4Z7j7mAh3yvQwsQZlEoWsmwbrSXlhr50z9hc7c23UOua5UFhjZalFXrD_ZdDOwSGMwDHJGieHkuQWzT0-TXuDiQq-xkW0PfyQ50Z_4x7mIOOVC-1fM8Nvy5LeJAVNkTGNjTAp9-xdjxycYksr8JsZ4ghjMiHMp7XhmW5a_EfxvZ8-V3U9hkD7sfUjoF0yOcbt8MzJbaNHhY5bqr8QCRLLm3b6yqPF7Pb6TAjVDH31js3LoXDLk5yUGDVK6wM6FLI5-_nqsparTvuszYWAtYj-Z3Q3MaaVeiy2IyiuL0A724ohhV_DH9vAArK30A
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"UJDPmfkLF4QebAAgVtKszzsuCdwL\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1682433654398\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-527196896438770794-b-geu2-16947-2177901-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
[...]
