interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiZDZhYzU0MTQtZmZkOS00MGUzLWFjNzYtNjZkMDJmNjg3NzI4IiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODczNDIzOH0.KYGJbt7_n2iet49n18_kD5fPnE7sUl1Gx2A0kgUgrScOyK87D8mvynjAhr-cRO3Nzp8wd3ynL5_73wDru1vHPiKXlpg2EgcFQx-7fI9E5EpP4WTYc4ReMB4HEaCaANWpqv2XPmJCpZHAt1erajEqHqLnoGM6qhIo-l3WZ7fn9EfHWSWsWOZt1O3c-vW5LNbGZOrPsK73Esj57ASsq7c9UmNzn5_QGRePEQTi-Jd_tuYSj4GohOUAqyJOf08na1O15LK4YWgM4ReZ4OXKvUQ-YcMRJs2H5NodYwUkJhxFTuefLg0_Ld7zx4t9PGKi7nZoNg10yzO_VtRAdcQ8C-U2bc2H5uCV21uzDLb52YhcgNHm_SIAvqJ_65Q2JY8cmhZe-uV3YtZOb1HyCQ7OgHW5gC8-cJtIdEeCQ1nyXvzbhUyrl9JSCE8KtjRLc2rQGj8CuHsdsO7eReAnv9xlAsQVe9g8tXZInwWmneU2EXhlxIoBGNSaFNHS9AmhKUNGKs8g2Lcw9whqEzzzU8ILTkUu8jO6jpWeSm5bcQofYplsSVBvrfp-fdcGM2qjPxSyJPprFT9UMVU6lJq5lAIphMjl9RuWRcoXh-moe0lDMyLJfQa99WA0DDcqO-KwPsOcP7e6AneOa39Br1fHYGm_jm-47JMWQxDENkKefpQB5s3XuXc
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"Qi1VWyAiZX8DrD78xio0cPdX2ZG7\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678733939591\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-4937009496215191487-c-geu2-23867-285828-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer Qi1VWyAiZX8DrD78xio0cPdX2ZG7
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002513
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"16653833\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"QpENV\",\n            \"line\":
        [\n                \"1 SILVER STREET\",\n                \"BARROW-UPON-HUMBER\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"2017-07-11\"\n            },\n            \"postalCode\":
        \"DN19 7DW\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"2011-08-11\",\n    \"gender\": \"male\",\n    \"generalPractitioner\": [\n
        \       {\n            \"id\": \"ENcWm\",\n            \"identifier\": {\n
        \               \"period\": {\n                    \"start\": \"2015-06-10\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002513\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002513\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"WYNNE\",\n            \"given\": [\n
        \               \"Irving\",\n                \"Antony\"\n            ],\n
        \           \"id\": \"knPhL\",\n            \"period\": {\n                \"start\":
        \"2015-03-19\"\n            },\n            \"prefix\": [\n                \"MR\"\n
        \           ],\n            \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\":
        \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
