interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiOTczMTY3YzYtNzUzZC00NmZjLWE4ZjEtMjljMjQ1MWI4NjNhIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODc0NDIwOH0.giXJrlDDWTsW9qVPoQ-lvvZq-SSheSNErb5DFrEF1W6IbfV3FDZuaKHEshI7ZuecOaFGgtHIXQs1Saz89vOeNRebBibYaaSADmJkEAKHviPZYqZouGxT66esDw7WFmq4Dm6vxlDwpsB7pgba2Hir7-1a6wwiBb8f7D8fkbnj6E00WX-X6bLIdwEP5swl7PgfB3lWn-G-COu-LlCjpGHxowZgL8pknqMRxBcL5aJPs7ko4T5oVnSatDn-i0mnr_bJkVl_989FUSotmIsGkkO0pWs4zgMHEucXaxniE2F_XxC2NFFifDFuejVfnPMRU8RSfE1NQBSOYbJSFT9qv-d5rzctePsnTNK9Z8_STyVZp8-5TgERqLrlYeyXBYe1UR7zDFIghbFInunBgvthezloMZK2QttQDfzY2fbiq5mGzVG_cRaJrL31sBd1JDpvAEtBaSsRTG4xEPlZdtzH3DSySWHEQfDSy4xqeSLoTxND800FV7EHUMO3takl8xXaTc7TBszrwWDHsX_9UQiEr6ex8FHTx3qdGh5YdGYZHa3NXdrz_QEu5snR2KA6-Abzhu6jfjr4A4Hlh-Pgvl5f3_SYC34-bymgWaJiUWg3OjyWMy0W-rjLMPxWtQR2DgPX7BL6lglRhIROrQLkvD-trpN8wWQMRaign5YukHJdAtE3LTA
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"UB2goSNg2L3mZCT1pWAmhPaL6Us6\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678743909400\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-7516941830607482798-c-geu2-23802-35617-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer UB2goSNg2L3mZCT1pWAmhPaL6Us6
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002408
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"27402913\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"edALe\",\n            \"line\":
        [\n                \"1 BADGER WAY\",\n                \"BROUGHTON\",\n                \"BRIGG\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"1985-07-31\"\n            },\n            \"postalCode\":
        \"DN20 0TW\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"1962-09-26\",\n    \"gender\": \"male\",\n    \"generalPractitioner\": [\n
        \       {\n            \"id\": \"UjfmY\",\n            \"identifier\": {\n
        \               \"period\": {\n                    \"start\": \"1980-05-14\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002408\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002408\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"DEE\",\n            \"given\": [\n
        \               \"Mathew\",\n                \"Neil\"\n            ],\n            \"id\":
        \"VrXHp\",\n            \"period\": {\n                \"start\": \"2006-02-20\"\n
        \           },\n            \"prefix\": [\n                \"MR\"\n            ],\n
        \           \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
