interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiODkyMDMxODktNzc1Ny00MWUyLThhZDctN2ZiMjE2ZTUxNDhjIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODc0NDIwM30.sw1sEI1Hcz5bGzcf1uhBtoau2LPLYBLI4fpDMGYUq_yFRSCM1LD2tZ7pb2S0i7Q_3cnhhJRB_KOfR8XYfDCWV7gt7BlYQLRXPIxf7XN2l4PbUk0sIb8x-ZNwenrLHwV477lDiYx6ALY_Pk9ko3iozpFr-8U3ligvhpuV-_gK49u60iriGJ4oBRSuiMWEPqLhBV82bZoSLFyuZukDzYMlMFQ5Bm3BMsBEmEcDZALwtkxNDIX_QfGZHoCSpNxxAL_X51aoW1n-39JSjexVLHTbnuBGcaLZMOpHywA2Op_28GnaoFMxY5jtJO_lqhOU6RfsmfsqC7GmrwmAJEk_VUP_fuNY5bKUFePmxRgxDHZkSKmqlx476ByvZIYqTrlIfV5KIesuCqPnZKW_Qov9Uzf8vJ4iFfICZjrBIbgvIDRIiJwjdDX2gS1QqZZrC30EuA8mdmJYTxuxoqziuW4V-hZ4_gME0qpXXyvECM-0MPoZf-twwHAmQSPGAoMlgFrAEyyo7nTAUTJFMcKca2cbsuX6JgN8E8HdxdZD7Gd_Ag-4AZZab-gocTepCUmYpSE1lxXab7CBX7gcbK_ylt5nEkorVw3o0exXo9MKD6aVeD3WwKYX3ZALDNSvfIXOZ7MsZxbliGxjy_LgIPZ9g7c1HZJi8srCjQ67-tSVW5RWsyhMCqw
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"gekK73EhPiuAzAiI5SKS4CTN9eMZ\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678743903987\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-5197799171693813489-b-geu2-23634-5286312-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer gekK73EhPiuAzAiI5SKS4CTN9eMZ
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002467
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6310922\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"jSleh\",\n            \"line\":
        [\n                \"121 SCAWBY ROAD\",\n                \"SCAWBY BROOK\",\n
        \               \"BRIGG\",\n                \"S HUMBERSIDE\"\n            ],\n
        \           \"period\": {\n                \"start\": \"2016-04-27\"\n            },\n
        \           \"postalCode\": \"DN20 9JX\",\n            \"use\": \"home\"\n
        \       }\n    ],\n    \"birthDate\": \"2012-09-29\",\n    \"gender\": \"female\",\n
        \   \"generalPractitioner\": [\n        {\n            \"id\": \"IWYfl\",\n
        \           \"identifier\": {\n                \"period\": {\n                    \"start\":
        \"2018-04-27\"\n                },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002467\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002467\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"HOLDEN\",\n            \"given\":
        [\n                \"Freda\",\n                \"Alma\"\n            ],\n
        \           \"id\": \"bYrRA\",\n            \"period\": {\n                \"start\":
        \"2015-05-12\"\n            },\n            \"prefix\": [\n                \"MISS\"\n
        \           ],\n            \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\":
        \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
