interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiMjcwZjllNTEtNjUxYi00OWI2LWJkZWItZmQxMmY2MzRlY2I0IiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY3MH0.MErM3wzKg8XUg8TH17mGuMlhVJtwBUegTLxoqB8jddppdNfLgNS-PXXgNjQXldQR09bzslmmFNA6KwG4KxRhB34BDsfeaClWkuCUYWXRQYXTiwexs_Hzf-SV5gd4ixjhGHIIGI_r7Gp0RUZniCmyH-NahAajU6vJiFWwP6YrboVvyVPiY8Q20WUwgA8PzW0O2gkEIS6M0a5m8s-EMcFFbdfQbg40EKuefEFLBG04ATI9-3ncmmhyzEmRqx6aVnzI2jz2vj-UFigoFZPZ4Jm4ECt2S_Q3gFRV1bCRGye5IfkyWZiJbl6KaEt5QGLeH36dyKpm_YLin7l1ejzkwJxZdBzUUVqdnwr8ht57xHIpbSMHsrt70I9rv2Otv0jlTOIViSyAuWKGjf5tDgb-Eqq0o52rP7G3nzsQZq-G4Qn-xbNtmu9yfLH9hODoD_13vtIX5J7WfiN6f8ibTfMRDkkjfa7otc0n7zXjkUGNTVU8aZA6hKb7kYvjP5yw1ByCWLZl6Yzlmm7ETAWeMjMrrMlY2IgOwyqT7nApUPq2H9d_KM3I7VGdfCH_g4q8-0hztR_onsDM0dydjqD8X935dPESuvsha2XtyVf4X8L2eZep4FsgFbjSxOf49zlm59Vo6k_FaafuTHnAGYt9Fo2QVSURWDD23u265Sjglv1Lcba7b0Q
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"IMiuIWIHHF6tqj6ish9n0HVF2w8F\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546371939\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-4001360543047875738-b-geu2-25347-601321-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer IMiuIWIHHF6tqj6ish9n0HVF2w8F
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002335
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"16648723\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"ZOWic\",\n            \"line\":
        [\n                \"86 COTTAGE BECK ROAD\",\n                \"SCUNTHORPE\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"1978-03-11\"\n            },\n            \"postalCode\":
        \"DN16 1LG\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"1960-09-11\",\n    \"gender\": \"female\",\n    \"generalPractitioner\":
        [\n        {\n            \"id\": \"YlHvm\",\n            \"identifier\":
        {\n                \"period\": {\n                    \"start\": \"1970-04-08\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002335\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002335\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"LYNN\",\n            \"given\": [\n
        \               \"Maxine\"\n            ],\n            \"id\": \"ZiVAl\",\n
        \           \"period\": {\n                \"start\": \"1966-08-24\"\n            },\n
        \           \"prefix\": [\n                \"MS\"\n            ],\n            \"use\":
        \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
