interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiNWYyM2IwYjMtNWI5NS00ZDUxLTgyMTgtZmZkYWY3YzcwOWFmIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODczNDIzNn0.BnVfIeWExugfk5LYw5XDnv5MlOEqZBlezrO9Ch9quEtpSzZm40tThYHvrhE32V8aWCv2YYpx15x9S7-tpMEPcK1sCSJfW7jwNWTMXQukh-ooajPIfsDksr73cnh9xBqWDXiLJhQ8gqq4LuCxQ72oD-GiBt918vZmeVHtoLalLx0cuZ_nviTxxAJqEXnkNP7y6oHGF8lVh3JBCEfe2MjKUaOIGrQ5LMOMatEerBL7z-b1XtY4144fAMeGIp8gr9QNNIAiETMbpEfTi1jE_Fd3E0Wn3iLxDKKJOwbBvLSGNkGABaFz0aFr3l2RyRzrOuC2CXFV7BnK4OSRe0QhcxyaNq8GyIPIC9EIiyYfeivvQq-e-QU7I8W8AkGBSQE5E3AsXp642u-oxemE9c2Io5I7rFjM7xSQpQIQ4z2XG9ixjIxHNLeU51mbWmkdJkMse7mXywI2LOuevRDPoKHokjJdaNvSHNucF8oxXTSD-hW8LgmBx8A87s9w4jysYbWxkdkAKJFx2th7-VH860SBMoAMxo2hIvjuuioJ0AnXSd14Ffz0wBHB-PdQM_pgKyz6DOdeh1oMUsv5BOznKxANb6930ZIsDi7IjtVjtHo-gKFbcECabE7qPlFMl-CsDdRST1wheg3OcwtOyIKdB5ScR4qCLuiOH0eUKnJziL_NQ443ww4
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"aGXzpcGvlmt6hDnjr9UfoftOV3tb\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678733936873\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-2317811097629275444-a-geu2-23902-7776336-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer aGXzpcGvlmt6hDnjr9UfoftOV3tb
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002432
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6285386\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"czxvQ\",\n            \"line\":
        [\n                \"1 HAWTHORNE AVENUE\",\n                \"SCUNTHORPE\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"1964-04-22\"\n            },\n            \"postalCode\":
        \"DN17 1DL\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"1958-06-10\",\n    \"gender\": \"female\",\n    \"generalPractitioner\":
        [\n        {\n            \"id\": \"COCzc\",\n            \"identifier\":
        {\n                \"period\": {\n                    \"start\": \"1974-12-02\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002432\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002432\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"MONKS\",\n            \"given\": [\n
        \               \"Lavina\",\n                \"Maxine\"\n            ],\n
        \           \"id\": \"VWIlj\",\n            \"period\": {\n                \"start\":
        \"2005-04-19\"\n            },\n            \"prefix\": [\n                \"MRS\"\n
        \           ],\n            \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\":
        \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
