interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiNmIwZjc4YzktM2U2My00ODJlLWFiNjctOTVlZjdmYWQ1MDZhIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODczNDIyNH0.crpJrAxl-TmCDlOa4ZbA1JPPRQ5T8oQ0f_FV2BJCqTgMj1adnBm-47SDXYoDKt33jv4M4AemlJBw3qx6Mf0NwaEF9zOa33HJYrQsq8ygguwhmvnyt7BM0p-ARFzrs3rtcMpuM9NnxagRBPxOpU5SjU5PjaVGhX35RbMkjzHJUkuxu-uxeKfflfWscysam_Win7namBlMqJ4PybTklMLdoqSU6wAU1vO7JmbrS9xjw70pjSZqvhfqO5aO-OCUsguuDmwt4ZIIXDSu7kV6fwBNeJh-eqEFofBHAJJZHiLFKcuGw9wdUzrPBhCNixi_Ar8Nd5svbu0erPBxQf1akMlCf287OLzdwJuauLCUBhL1JF_4gSV_o45hlx1a06Wy07Ech_XrHND-bz75AsNSQpNVXtNxpVjxgDSsX8jrXF019tVhJ4Q9cm7_cyZeUX3MnhB6dCl21CtH7GIYHUi4fPpY4mbb6SpfbK5pCmtLAhOa4jztz9qnio0JU4y7ovbiFbxmurSkOPdC6Ybswh9UukCRb9e94KlgFCgYqJW807tEZlg1AOjWAVFBw1EDgF0xER7rd8XJENaypjaKuIIuhugyPErqVA1Zez5ioCKLu5fvsSmLpSnSxr_OxOQGWuicpWlzJV7rP3DCtsBqVXyw8L9Ma7MLsGbesAfe9tlYTmWWfjY
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"cMSG7fquPpG9Xc1Byaep6Z1kVt2M\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678733925515\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-2803978108223374977-c-geu2-23881-2549730-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer cMSG7fquPpG9Xc1Byaep6Z1kVt2M
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002440
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"32144717\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"ZtQOi\",\n            \"line\":
        [\n                \"17 BRAMLEY CLOSE\",\n                \"BARTON-UPON-HUMBER\"\n
        \           ],\n            \"period\": {\n                \"start\": \"2019-12-07\"\n
        \           },\n            \"postalCode\": \"DN18 5GA\",\n            \"use\":
        \"home\"\n        }\n    ],\n    \"birthDate\": \"2012-07-19\",\n    \"gender\":
        \"female\",\n    \"generalPractitioner\": [\n        {\n            \"id\":
        \"QAJvu\",\n            \"identifier\": {\n                \"period\": {\n
        \                   \"start\": \"2017-09-29\"\n                },\n                \"system\":
        \"https://fhir.nhs.uk/Id/ods-organization-code\",\n                \"value\":
        \"A20047\"\n            },\n            \"type\": \"Organization\"\n        }\n
        \   ],\n    \"id\": \"9728002440\",\n    \"identifier\": [\n        {\n            \"extension\":
        [\n                {\n                    \"url\": \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002440\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"SIMON\",\n            \"given\": [\n
        \               \"ORPAH\",\n                \"CARMEL\"\n            ],\n            \"id\":
        \"Dnclr\",\n            \"period\": {\n                \"start\": \"2020-06-29\"\n
        \           },\n            \"prefix\": [\n                \"MISS\"\n            ],\n
        \           \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
