interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiZDFiN2QzMjMtZjU4ZC00NmU3LTkxZWQtNTZiMDJjZDY1ZDA2IiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY1Mn0.ZhMcuKWikflHOKNxEhKHXBBZI4yU7LpZCzvVED45X3iy6MJKWai30LXaX3ihPH53Cfbsi1D3DbID3xlX14iJ5lOuw9DRUhmZtQfhTytcPVluKltHcDd_urY6xrW1sw2RYkvN8zBkGc5wLARL3S43IffGd3wZcGKZPU0Y0ehgzWSwMsGrO-6mlalQp3LFOKFZMFHYyXAfKm6f07GuB4N3IbbN0cyUrcXrXAyqCc1NSOQHyK6VuWwEiayeNqe8BZa0oBR8zDWY7GkeeNnIQS5w9cZ10xpYrJJ4b4BZTvNnD61T4CTaz6oWf9vVkxPAbtTzawEKVRWypxPzyPSXJERDJSeVR_8tpGkSBHFR26nERLoxJdnbXfZ83CMaoX1AYwXf_WY0WmIhFvP3zpb6xJ4pZD_H6NHUfqHvOgcXy4w_lL0Z9-4G0Bm9Zvd7QelmUrdcBmA2KiGenq-EHwiLkbGrPE4qiRgt-omRY7Ok5oxYJ47KS-1H8REAYlM0EoBmiphuvMElSOOra6z-32O0406iRE5nMi4JuvdTsbos-pRvC6jutDPzgau8mERnMBZe9fAeoUeDuKr9OCWiz9HhSJW7GUcZtKu_s5wPjugD4Jl5ZDfM-qLHe7-i6EymLnyJTljEERq2pCnVrF7_MJLJsGkIWT7K006OZrcQXOWKvR76Ugc
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"BQ20BKMMSZqa78h6N7kgbsSn1OQP\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546353522\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-3692895579532269097-a-geu2-23860-770428-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQ20BKMMSZqa78h6N7kgbsSn1OQP
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002491
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6298182\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"Smtad\",\n            \"line\":
        [\n                \"1 MARTINS CLOSE\",\n                \"BARROW-UPON-HUMBER\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"2016-08-26\"\n            },\n            \"postalCode\":
        \"DN19 7BG\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"2012-05-24\",\n    \"gender\": \"other\",\n    \"generalPractitioner\":
        [\n        {\n            \"id\": \"tCaKK\",\n            \"identifier\":
        {\n                \"period\": {\n                    \"start\": \"2013-06-06\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002491\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002491\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"ERLAM\",\n            \"given\": [\n
        \               \"Anita\"\n            ],\n            \"id\": \"kduxF\",\n
        \           \"period\": {\n                \"start\": \"2021-09-15\"\n            },\n
        \           \"prefix\": [\n                \"MISS\"\n            ],\n            \"use\":
        \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
