interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiZmMzNDFkMzItZTQxNi00OTA5LTkxNTUtNjkzZWQwODZlMzQxIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODc0NDE5N30.Sm8VQhnKgLQrYaKN4QkxcXWZZoObPe4aJysiEIfIhPF776XtlbQqge1F_84zm9AjdD_9svu93EIGDnrMqPjaJRCwtIbGxkgw0ZhTxUD1MQXaiqs_csYa3imapueFHlmW8E61WEY9Vdvvza-XiiK_Ft-Kbb5Y0AOHXqj0ehv33ErfdZomUywCGKqOrBN4GKi87gnHio7hZ31KPItmnLPZS0H5uyggQ9eso5f55H0CAebkgPprBgDpyBZU5sRuqyh9zWlhr8Vq0pMxWI2_So9-_deJvDIR5vtTSKVBnI62DH62LWzciIrKJlrp7ocRuHJpoAu8EtNiJBssGK1B_XKGPQ_C-a9kr7RrMya4ab_Q_VF0-wN_w3fg_XREUbAkgiBKZi7p239NwlNZr-24JozVTkI1oVVo_c9skam2cVy3VBnaCfndLxunBTa_wUVdXM2znXyT4IPMa3vHGveMhanZSSYoOvAhoDFCsECdO4s0Qy5fD2NqSR_DA8QEDFy35WVi6K3I0UHEc72AF-zov9npcEJ6tj0pdaRVdXBptwHhasoWpSgUMPvOdRT8QnRAC6PiX21U-pEXTfkzc1uHDu376-KE8uZrEy8dyr0_n7WLMOm6MXxNO8P23OCcit95_MLrqYoO6Qi7Z3WK2_d69HXLlTbA7Tp3b26VbjajvP7kViw
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"WPDcDF7Dgc8gHBM7AGyUu4PpUvfO\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678743898610\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-2317811097629275444-a-geu2-23903-8025076-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer WPDcDF7Dgc8gHBM7AGyUu4PpUvfO
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002432
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6285386\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"czxvQ\",\n            \"line\":
        [\n                \"1 HAWTHORNE AVENUE\",\n                \"SCUNTHORPE\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"1964-04-22\"\n            },\n            \"postalCode\":
        \"DN17 1DL\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"1958-06-10\",\n    \"gender\": \"female\",\n    \"generalPractitioner\":
        [\n        {\n            \"id\": \"COCzc\",\n            \"identifier\":
        {\n                \"period\": {\n                    \"start\": \"1974-12-02\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002432\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002432\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"MONKS\",\n            \"given\": [\n
        \               \"Lavina\",\n                \"Maxine\"\n            ],\n
        \           \"id\": \"VWIlj\",\n            \"period\": {\n                \"start\":
        \"2005-04-19\"\n            },\n            \"prefix\": [\n                \"MRS\"\n
        \           ],\n            \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\":
        \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
