interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiZjMwN2VjNjctNjE3Ni00YWQ2LTljMjItNTRkZmRjMmVlYzkxIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODczNDIyNX0.TkOvtqjZC7-S8z-IrHlXnBR_Cj0_rhbKRdKqNYSceAtTkUjJmmOlUHohVBK7MYtI1Eg7R2SnOlbLbWwKh43YwoJfQ-lHc99DDz38zqlo8m4y3S8vX0GE6EuS-NAFRynCVxFVxwOv_TGiXFUvjcNtNQAHnn2VP2zuHXDIvh2zIxKjJkvyMatOdsdRpAmx2z2m0ITNfeFJSFR6KbKKsjZLE1F860vMMega797RKAfpk9hJYYpnNSgpdylZuQhI-QW4Fy7-rSOwqRxFMpHviiZ4pdGZqvUXHvxbuLMHekW_4MdWMA0VTnYn4B7PoCFfuWWbAHETkxAnNc6ogbn3RTSlKrLS-e_UOB5D04oNXnBSnuj-NVuh4c0S3QvQfBeLYae3oI64ts5o60RnJ-kCRbyai9g0Kkc2BVM6TA0QaxHyUAFXXbVo8ji0AspFw_CpehVBi3geptRP-I33wXq_tNJruM91HTjmDKKeGKmPlC62-RwmOIYldJ6Wy84MHNDlji0ugWdIw6-zyjBtcP-cXl17qWdpIRZMC5SA-T4hn2ZQ4nFL8x9oX9C8NfFFcwgwt62f8TnbfywdXgiZ2Ay1pXfeBtuaHC2N6sxgwDP0SnDQGRoiGzUE0QlEYr5NrS4bxIf-nL4JiUmS__GJlXFv4Ecd08eHNjmubFn3axnevWzMhrk
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"gR4QVNcTD1lOvDDIBtDnPV8EVt8l\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678733926427\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-3122725631467642349-b-geu2-24181-73878-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer gR4QVNcTD1lOvDDIBtDnPV8EVt8l
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002491
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6298182\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"Smtad\",\n            \"line\":
        [\n                \"1 MARTINS CLOSE\",\n                \"BARROW-UPON-HUMBER\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"2016-08-26\"\n            },\n            \"postalCode\":
        \"DN19 7BG\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"2012-05-24\",\n    \"gender\": \"other\",\n    \"generalPractitioner\":
        [\n        {\n            \"id\": \"tCaKK\",\n            \"identifier\":
        {\n                \"period\": {\n                    \"start\": \"2013-06-06\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002491\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002491\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"ERLAM\",\n            \"given\": [\n
        \               \"Anita\"\n            ],\n            \"id\": \"kduxF\",\n
        \           \"period\": {\n                \"start\": \"2021-09-15\"\n            },\n
        \           \"prefix\": [\n                \"MISS\"\n            ],\n            \"use\":
        \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
