interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiNzNhMDI3NDAtOGViOS00YTExLTg2ZWYtNjQxN2JlZDM3Y2YzIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODczNDIxOX0.ThV5aPJX9zKVb3c0x-pwdvFCRuTbiDiAi10h1JSORjylQ8OCvsNqtzOHi_KbdQfQ6C3cCLebnirbPnakFoVvCIynsPqVPQGN90OKSnwf1uWBlJS46trVPIFHLE-remh3ib66MGj986XDyd1ehuzyzziZR6jmEu2XL5UrFhYEM_rl-fEKoGtW_3E5Vpf2YJyu1dj2agryi7ov2d2xbElYgO4C980q9c4UGPP6qRgIIjhvSw3OURRi_JvGFAMckpRuRk5t5a4gFoOlW_74K32ptCCod4Pj1RFGtUK4Q5ggCJve-86x9mw7RSXrHZpYyA6lPq9gXCpr8Hsc_E4inLzPvu8VeQp4uDv_EjHyq-lO0ho19NtqlP3qXtXrlqFbHxaWCaVNunrDho6PlA7gO20uP2KkPZ3ffjWNNg_DI6SBqvpFF-g8dTttgpiKGGNNywStrogGzLmcmDBY__R5aSnYtyzGQZIlgneKA4MluHebkH3VbUHVeqOfim_8UynzawXaz_XYW8eHt8DWeXANAVMDTff-KUXi3dlDqUVKVcm0XIGq_7_5K_06ZnsqD3mLar1Wjiar5QHwB3A_75RnQDnwWD8-9Tqp05_TYp0DCUzbdx8YEXUwwBIKaX5-LxkhyhQF_McziW2vK7CRoBXwszjkCWeuqk0XymcPyWp4DbLdEzI
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"2A09OuXNoEA3evSx9PJk4mo93ecf\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678733919906\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-2657659318457031890-c-geu2-23823-949484-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer 2A09OuXNoEA3evSx9PJk4mo93ecf
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002521
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"23026019\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"phjem\",\n            \"line\":
        [\n                \"3 WESTMORELAND CLOSE\",\n                \"WESTWOODSIDE\",\n
        \               \"DONCASTER\"\n            ],\n            \"period\": {\n
        \               \"start\": \"2011-12-18\"\n            },\n            \"postalCode\":
        \"DN9 2DZ\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"2009-10-20\",\n    \"gender\": \"other\",\n    \"generalPractitioner\":
        [\n        {\n            \"id\": \"uBVLm\",\n            \"identifier\":
        {\n                \"period\": {\n                    \"start\": \"2010-12-07\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002521\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002521\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"HOI\",\n            \"given\": [\n
        \               \"LULI\"\n            ],\n            \"id\": \"RmMCA\",\n
        \           \"period\": {\n                \"start\": \"2016-12-17\"\n            },\n
        \           \"prefix\": [\n                \"MS\"\n            ],\n            \"use\":
        \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
