interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiY2MzNWUwYWItNWZjZS00ZmJmLWE3NzQtMmZjMzhiMDJmYmYyIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY3M30.qfkcSopCf9V1m6EGjKroP0UJXJSSJ1b0iHyPeje3JTOtMl3Ul9WjmqbXwWpj02CMpS27Mex59vNLAci6R-MWlMkXoqYLXbJpGBkFf3U8M1lFVmJDPKWK50NamILmxZ3Tfm8ru7gwc1vP9rXdHnGBgBYH7gBS-rOyGhDv9Kx9-eEzY16MACtSsQbU8N-vUlq2xxsS0uFFRilHecC_UQVgKAsb0EDVTqKXJ0f1OhJewUrqc6T7oxMTlUNra5yYS_9WFBRLPcT4aK-quwsVcJJI7GnjRDajQ3ls3CsxHxDbJHKI1UJsZJOgFDZ3a7SKtixWsJ_L04xBVCpIOhWGZJyOIEpfo6vXyEpjzi9bC1wrtmC8GjvxxqBYuZMI18wlFX93FYtjBRhxs9-LC3mpgJRjMDovSJcYz5gvKuGFsEeDK1W6AQ5mhq4calLZsAKpK3qlwEhfY9_nf29c5jWxr-qbmCEOsrWDaaUg1Ksupmvp20tcUbSSFn0CLslOKjT-mZ5VzAF6Jr9vyQ7gX7M2rCNc7mLC495d24MYM_kWioA0eZ891oFDqyAbK18KAMPfLrudA1Ht4UV3YoQaave4FzAIvlNBZEVyDMQm7etVYDXFmbkwm1xXDFVONNOims9_KRhAtqFFIhuMSO_xjv29FfOmNJP_se86fFApAGeHAKMNPcQ
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"1rdGnxAALtsol48cpcBFLJPCN5al\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546373826\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-2208886024013165144-a-geu2-23792-39624-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer 1rdGnxAALtsol48cpcBFLJPCN5al
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002378
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6310047\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"UyInZ\",\n            \"line\":
        [\n                \"48 GLEBE ROAD\",\n                \"BRIGG\",\n                \"S
        HUMBERSIDE\"\n            ],\n            \"period\": {\n                \"start\":
        \"2017-05-18\"\n            },\n            \"postalCode\": \"DN20 8QF\",\n
        \           \"use\": \"home\"\n        }\n    ],\n    \"birthDate\": \"1961-06-08\",\n
        \   \"gender\": \"male\",\n    \"generalPractitioner\": [\n        {\n            \"id\":
        \"ZVtUk\",\n            \"identifier\": {\n                \"period\": {\n
        \                   \"start\": \"1964-10-11\"\n                },\n                \"system\":
        \"https://fhir.nhs.uk/Id/ods-organization-code\",\n                \"value\":
        \"A20047\"\n            },\n            \"type\": \"Organization\"\n        }\n
        \   ],\n    \"id\": \"9728002378\",\n    \"identifier\": [\n        {\n            \"extension\":
        [\n                {\n                    \"url\": \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002378\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"PUCKEY\",\n            \"given\":
        [\n                \"Miles\",\n                \"Keith\"\n            ],\n
        \           \"id\": \"QOKcp\",\n            \"period\": {\n                \"start\":
        \"1995-03-27\"\n            },\n            \"prefix\": [\n                \"MR\"\n
        \           ],\n            \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\":
        \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
