interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiMDkwYzg2MGUtNDA5MC00NjBjLWE3OWEtNGM0ZjYyYjMyNTlmIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODczNDIzN30.Q_ObpBnsrgUBZUE5YF5_l5rqSiE07QkdVBzS6t0T5QAi-8Jh0UxAXklpFhbYRy3sdgWzhUZBDvq_BEjVtbfYrqiUynx9KdkSgef4geVcHLuGpbvEwsReYlwSgvWMIzA71Y1yexc0HLhms4W51tuTq0yo-0Hwh3h12wHxqylc0wKdJzTc0qKlkqq7tzwUkW4IsbPSjYzgT-YjAiFXXAhgMnWkIzbi8oYwsI1j-VuG5zV81Ok9W0f3Q5bap6dJe1xakWEZxR3CC_kV_1wXp4O-tZ1qgSJXN01r1WRIqgXSI0cbK77pwXwl9n-upqXCdBgYMt76LNsmYSIm5rs2Moph9-pmi7MvSLXx3Qzb7UeSitB1SZcjuf7sk-wtZSxjNBbYDIGXCI3uOZBZ1xBXOGBHf_UtleJ8bzANZPb7yuN6v-NGd9LEhMGF2RxEyoX1lveVhTTmzfc3uD8yr5y9NYBKVbXevqZcbtevbAkjGe0Sv_n9NJv4jjHQZjzC6EZ1U5cZ0cGvaGoqJtxoaG9jBCd9X4AqjxCKp3vhGN-WkZpm9ITnuMjmERALXXLtAwBlhPtowSM8ZXSwQX5sjDQRLTvSSnr7-CHegKVfnrkiefrV15uEEb4d8Yx3_eMvifqnlS3iRAa-xKzLwZWy6OHqTpGockav_KH7VbkGcE4XUl98Uhs
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"l7gkjJyoaOMbkvHiCUbdJulI4e8g\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678733938679\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-3122725631467642349-b-geu2-24181-74209-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer l7gkjJyoaOMbkvHiCUbdJulI4e8g
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002408
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"27402913\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"edALe\",\n            \"line\":
        [\n                \"1 BADGER WAY\",\n                \"BROUGHTON\",\n                \"BRIGG\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"1985-07-31\"\n            },\n            \"postalCode\":
        \"DN20 0TW\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"1962-09-26\",\n    \"gender\": \"male\",\n    \"generalPractitioner\": [\n
        \       {\n            \"id\": \"UjfmY\",\n            \"identifier\": {\n
        \               \"period\": {\n                    \"start\": \"1980-05-14\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002408\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002408\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"DEE\",\n            \"given\": [\n
        \               \"Mathew\",\n                \"Neil\"\n            ],\n            \"id\":
        \"VrXHp\",\n            \"period\": {\n                \"start\": \"2006-02-20\"\n
        \           },\n            \"prefix\": [\n                \"MR\"\n            ],\n
        \           \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
