interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiYjhmYjYzNWUtY2NmYi00MmMyLWExNWYtZDhhYzIxZmU4ZGIyIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODc0NDIwOX0.IkEWjTKiHDp5IUXw08Cyr09qIuq2bW7Xig5cDUt7Hcg0W_TysRr_wI81b-KyLSO_hBsmDkHavbCvE7Wr-LLK3gkE7fD3TrmDh8ccBEhGgCaFWUsVLj31-596YGPB_vjlrIRJA6aY1Dmm4720pR7N9SSFphZotycltqiVWMeFSxCPeTPsLgxl3UXZBNm6SQmB1wYPhJJ8--RidiLroTpavej8zbLvxxmpbtV0Xkj-207lM7LrKQRdZ8irB5-qYWCxX9DOi7h7KD2Y-gw4iMOCCriRqtMVo-ypmYA4FaOL2xyGj9p-bpivDtZULsaY7uzNV4tSqoLTI-tG-0kcmnPvxqZte52zmAoJths45cL9xUoc9a_6YvzkagzCDavvDJj-CNZ5d4Up5xihqH1g_fzodRCh7QhOhmf1VlLIKQUT53fHE7nFVH4beW4OOQdQdN8QBjXPHCquQG3-PGlRSr2IWcgC2RIdZlTGQV_i5Hk3o4IvxKgfXdZxUEKdxu9QHOh2cpT3xO0sVRz-1YdA_mzVhttahNmKA39ZuxJlVyyqJ9oNAlJfCIUoYqNoJGl0xmQLMLg3JJThN9a-48PZnzQDvpVfnWR74zSk6OlW38b2sts1psa6FhcWLUVg3hwXB7Hn0B8FSrr5jB7neMOPXj8jFLNn4abt_89mMUeo18sjxJg
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"jr6EAujkoe46a03m1wjNKwGJIsFt\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678743910338\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-6727854440233114055-c-geu2-23840-5170851-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer jr6EAujkoe46a03m1wjNKwGJIsFt
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002513
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"16653833\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"QpENV\",\n            \"line\":
        [\n                \"1 SILVER STREET\",\n                \"BARROW-UPON-HUMBER\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"2017-07-11\"\n            },\n            \"postalCode\":
        \"DN19 7DW\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"2011-08-11\",\n    \"gender\": \"male\",\n    \"generalPractitioner\": [\n
        \       {\n            \"id\": \"ENcWm\",\n            \"identifier\": {\n
        \               \"period\": {\n                    \"start\": \"2015-06-10\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002513\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002513\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"WYNNE\",\n            \"given\": [\n
        \               \"Irving\",\n                \"Antony\"\n            ],\n
        \           \"id\": \"knPhL\",\n            \"period\": {\n                \"start\":
        \"2015-03-19\"\n            },\n            \"prefix\": [\n                \"MR\"\n
        \           ],\n            \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\":
        \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
