interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiOTNkYTRlYzMtNTI4NS00NTBiLTk3OTgtZWMyYTAxMTc1ODUyIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODc0NDE5NH0.XPZj1ktRDzZ_GHpPlq9TNQhkqOllD9I6LCTJHGvA6A02FbyW1kzh8VEGnE_40Tzm_pmtEwIh42O8VcLtycXOrSiRGagBoVXXdL_hTvHMwoITSvGHDFZvivMcajjYpJQlGx8kiDJ02Tysd98CsDI1yNHJI2EAW9NAt1nVAZjpGYgvuzBugObILfTAW7B2j75yYWq6YQIUEd6MXZKPr7sKMn4YhrVdCGNBnrV3kUfEORIJCblAYWrlWNRaZn_9M9fMbzDB7Cl2E2C02vyO_Hat_AM5Jq8VlNKqm9Q6e9CYDbH0JMwqKfTFpOREcEuUXR_loqJUWyRDYdtnalv_gJosDoR5Qc-GndKLH8NTZn-6loamZtSohCYXQZuZsufXcCapDAK2q0JdAtPUFeDB3K0JGHexQpWkX69wIIOp56Ym6I8scIJuM3vTWcbiwI-sxMCLb1ePoKgV87C0q4F4_fDx3SXTk_wxXelcP98ep2ME4IcRV9daFRpaTbTsEiM7nkc8sReQM5GyIJFW-dlKst806bomzbsig2sbsqWrK-RYtDzm0dKLHrHP4ATcqevBBRBIFYtrw4pgSq8zAIO89J3vwu_EWfnGFwO1-iMhHMBS22xEWEc2AIoh8AA74BMF-XS3lgP-mcs1YEZFe6o-GyPPFZdV-EazVoU0rH61kROb6wk
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"xPZQWesBOakTdXhAqlucOFIHJngs\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678743894943\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-2317811097629275444-a-geu2-23903-8024968-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer xPZQWesBOakTdXhAqlucOFIHJngs
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002351
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"19974637\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"fwWKj\",\n            \"line\":
        [\n                \"1 NORTHLANDS ROAD SOUTH\",\n                \"WINTERTON\",\n
        \               \"SCUNTHORPE\",\n                \"S HUMBERSIDE\"\n            ],\n
        \           \"period\": {\n                \"start\": \"1980-10-21\"\n            },\n
        \           \"postalCode\": \"DN15 9PX\",\n            \"use\": \"home\"\n
        \       }\n    ],\n    \"birthDate\": \"1961-08-28\",\n    \"gender\": \"female\",\n
        \   \"generalPractitioner\": [\n        {\n            \"id\": \"uFHCe\",\n
        \           \"identifier\": {\n                \"period\": {\n                    \"start\":
        \"1982-02-05\"\n                },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002351\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002351\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"CANNON\",\n            \"given\":
        [\n                \"Haley\",\n                \"Joan\"\n            ],\n
        \           \"id\": \"yZltG\",\n            \"period\": {\n                \"start\":
        \"1976-06-07\"\n            },\n            \"prefix\": [\n                \"MRS\"\n
        \           ],\n            \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\":
        \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
