interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiZjk5ODdmMWQtMWRjYS00NTMyLWFhYmItMzcwNzI2MjNiYWFiIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODc0NDIwNX0.GodDiuV1wufPg80XInHDvRDga8CoZmgoVmrxsDnAqNrM8ywJkVtzZK8pYcAroDAwAvIjRo81orpymVYFJ-V8IqktzrM33T1rheunOpdQBBKrXnQx6BhX2h-fb9f8M9TgrgLaEcG2y6vxLhwPc1NX334RVzUBQt92e6Feik1xFBK_B1kGm7DXspeDHRu9JK3aBsjtLbn__BpF2XJAbW7U2R-lZfNV2MZ4SEdbskN-kMZLK6ZT-aNzdLfed1hNQ-Oww7FfwcTYwNsm2t2OtEP5zoUGyCRcOwo_4ClvAyew1FvkTSJz140w9fJ5dlTuDb9l8cKif8oRn-XC9SDTdvHpuv46-7r5UHrjqEP1A8gzX3dCI6Fb819oIA1C_wpH3CTkOvA0WTZ3Ls8CPEUQ65ZsIp6nlv0nz1C0DyaLDWZ8ihs1S7dt_xzCX2jPql5lT9pA3X-M9CkXSQUM2TWOdRSDm6CC_4AiatuWIGJevKtIPtpt_Hjg6j1nncM90LA4Ze55lEmeNM60CvHgBvORNOiqpa87ZTFYVfKexQzaQeChYa37hDhGhosm0O_32jnfJ0-cg9qDbjkKkSAB6Q5uVcUcyKASuI6fvDiwZNT_gnEO1DbqZd3723Z0eHamXqCyzlHYNeQnFg0YJFFvnquB8Dvy7Ipc3dkP85vVRNqsMQc5cQs
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"18N2tqy5NBbSXAnGNb8mzeglsqNr\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678743905794\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-3122725631467642349-b-geu2-24184-324885-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer 18N2tqy5NBbSXAnGNb8mzeglsqNr
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002459
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6293476\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"soJLq\",\n            \"line\":
        [\n                \"1 PASTURE AVENUE\",\n                \"BURRINGHAM\",\n
        \               \"SCUNTHORPE\",\n                \"S HUMBERSIDE\"\n            ],\n
        \           \"period\": {\n                \"start\": \"2010-09-08\"\n            },\n
        \           \"postalCode\": \"DN17 3NF\",\n            \"use\": \"home\"\n
        \       }\n    ],\n    \"birthDate\": \"2009-08-20\",\n    \"gender\": \"male\",\n
        \   \"generalPractitioner\": [\n        {\n            \"id\": \"nQxXI\",\n
        \           \"identifier\": {\n                \"period\": {\n                    \"start\":
        \"2016-02-26\"\n                },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002459\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002459\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"LEASK\",\n            \"given\": [\n
        \               \"Owen\",\n                \"Oscar\"\n            ],\n            \"id\":
        \"WIZAh\",\n            \"period\": {\n                \"start\": \"2016-02-28\"\n
        \           },\n            \"prefix\": [\n                \"MR\"\n            ],\n
        \           \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
