interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiNzRmODg0NWQtNjBhYS00Y2I4LWJjZGQtMDIyNzNlMjM2OGEzIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODc0NDIwMX0.H-PVxOu4JV_pXi7TUlL9o_C3Sp_4Lt8rJnqaKdkvs2ixTcdo1lA_WAN5E868lqO-eWYa9wyw0h86XgpZNtfPis1naTbzmoAjgEiN77rv6CRiwcczByOQEtQUumS21Z_j6AvmSdtceAKzfvh44fpVbSavW_cVZI9E5Lhnv26-X0C2NLK90q6Y4i5gOvW5V2njrzcdKxRPFfKwf7e49x8vM_RxQUiUxYH_kTKB7Np2yglatA03gKjlJJHS6JpG5OtlFwf-S4tOyqhhhOuN17qIGNs0zAy0SE1tDlbTWGHZlFYzlZEfQjwqNH7mKl8ocQE6v3qWCU86DQmXOhzQ_MLBvu_pQi88mJNJbNrJDMuTIcFE3f-8TKtc7k0N3vxRJymMWl6CiMpI5w5VqH9hFl5yRsAYR3Xt_PXioJl6ZmzlaNWTDXgYCudggKWr604NxC90IggEpzDG3U6yUUZhEmNpgKC7aqRm840ILYFTZ1HRuSrAkX8Fy9e5TAZYn73ouzlBq-e-1XDy-oWRwnsQa-U1nnuuhn_e4KdCM5zHunO-MDz1_0St1xJVvLh9m6MoEQaE6kwZTtNrTRGcLhzyiSUjQM15FbQeeeGJBtEKFw4RDkV0JnjUpQmggm6TCdenUPSjvJz_jlOhtcLh4jD2PeuFT4t6pbZmvCaQsLPguJRkHgs
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"XMYxIXi0rgMl0uRpCJ0j5r0UjtIW\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678743902214\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-4937009496215191487-c-geu2-23867-545057-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer XMYxIXi0rgMl0uRpCJ0j5r0UjtIW
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002335
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"16648723\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"ZOWic\",\n            \"line\":
        [\n                \"86 COTTAGE BECK ROAD\",\n                \"SCUNTHORPE\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"1978-03-11\"\n            },\n            \"postalCode\":
        \"DN16 1LG\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"1960-09-11\",\n    \"gender\": \"female\",\n    \"generalPractitioner\":
        [\n        {\n            \"id\": \"YlHvm\",\n            \"identifier\":
        {\n                \"period\": {\n                    \"start\": \"1970-04-08\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002335\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002335\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"LYNN\",\n            \"given\": [\n
        \               \"Maxine\"\n            ],\n            \"id\": \"ZiVAl\",\n
        \           \"period\": {\n                \"start\": \"1966-08-24\"\n            },\n
        \           \"prefix\": [\n                \"MS\"\n            ],\n            \"use\":
        \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
