interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiZDA0OGJkZmEtMTI5YS00ZmU3LWI4OTQtNDYwMjg3ZTdhOWMzIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY3NX0.ViO61sRzTknNLiB-8XNJYR_KRVES94OAcHEFqdREurDp7ubT_Q6M2-HgySk1OuOoy33-Q5gyN3NlT8xWN9SycCBBfjt-eJxbWDXi8BIeBtAVOkg-p09Xh44xjMxkBV2foNQEgBLdzu2X0Fcb2eEN08DvW_MPHBR1hpgEPjgIpVsxw5poOmRM1aZ7E61ZGjBbJDJVprouTscvzUG-s0vt4ZVGg4Bw-zXccuq_SjPt8mDNC6axOKn8TW3OCgMKTmV1ZEtoI3cu-0SuQjQTQN_j-tpeiy7ZufAJ-UJNwMCkCrWYimGzXt-WxeM7C7MgiSpGNY-T90_WzKip0zza60APhUmJZAcxw6zfRs3bn_9eCqugl8SulaRsYIr2zExF39sp2EIYz0YWw_V6bdDFYAKKw1joFIsxGzd1452Jv1XMNdZJLl21czBmFGs9NOoXtaEmSFS6J7KWP5IFYFJLrvuYP0C3dPZb5167_J3VIEIhcvNUMG2wYufIkdlz8pVxd9QgWabdX4WWJkQfDEee5V9XBKQnor4QwVTVQVOp6xhNoiM6nuHLMAbq5vfYVzaxdYTnew4H3rmINyApFm_fRbtLREHkH4C4vsnbNxjlJR2VejSv0OeiR1oQPggBcNvl0PTxURPv4oQitnmpDKzA8a7ZvsNo0LWAerMEXSpYrahv_Sc
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"JGodQOxZhdNuTHOpbT3xhKhkZShJ\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546376414\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-3090325540648010282-c-geu2-23838-4585106-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer JGodQOxZhdNuTHOpbT3xhKhkZShJ
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002416
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"16648460\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"cbiIA\",\n            \"line\":
        [\n                \"106 EARLSGATE\",\n                \"WINTERTON\",\n                \"SCUNTHORPE\"\n
        \           ],\n            \"period\": {\n                \"start\": \"1997-07-06\"\n
        \           },\n            \"postalCode\": \"DN15 9XD\",\n            \"use\":
        \"home\"\n        }\n    ],\n    \"birthDate\": \"1962-06-19\",\n    \"gender\":
        \"male\",\n    \"generalPractitioner\": [\n        {\n            \"id\":
        \"qWobI\",\n            \"identifier\": {\n                \"period\": {\n
        \                   \"start\": \"1990-03-26\"\n                },\n                \"system\":
        \"https://fhir.nhs.uk/Id/ods-organization-code\",\n                \"value\":
        \"A20047\"\n            },\n            \"type\": \"Organization\"\n        }\n
        \   ],\n    \"id\": \"9728002416\",\n    \"identifier\": [\n        {\n            \"extension\":
        [\n                {\n                    \"url\": \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002416\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"MORGAN\",\n            \"given\":
        [\n                \"CADOC\"\n            ],\n            \"id\": \"ncyKs\",\n
        \           \"period\": {\n                \"start\": \"2000-03-19\"\n            },\n
        \           \"prefix\": [\n                \"MR\"\n            ],\n            \"use\":
        \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
