interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiZjgwYTQzZDQtZmZmYS00MzBkLTg1NzctN2UzNzZiOTVhYTUwIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODc0NDE5M30.TMEP5_K-xWR3OZcG1OMvSTAoQCTs37IPP-dN81IpEC2jC58eqUTDYk4NXra3jXQb7ERdrki2bL0uV4dTz-cvtQ4jHteTmYWNzxVSws1U_b6fhWc9XAcLLAHa2YiukvBXA0Xbm8xxOGNgcKk2vHx_Z_3oh8YIMTYXYgAAZfETAvgvRvQQCbNubwqoITPD6AInHY4hoWvkCZmM6yRSXPF6kN2G9x0BqHt-vCggH9-NYLZNmGjQgLy-zxcDSV7cV1aGuyGCf1S_rdR7gk5nAymqluHFObXBCvvRI80tYSohfGFz2r-8nwQEZpa1FFbKbWpFEkDRJSCSStD9zEuZyOip3raRCOx1d1_yc6YOrv4j8-YCOwzKisUBCL5soOVlkCsVd8F7E1NU6lm9kGfFoCZlDBcqLE-ME4-BzdBkVI-l1LsHnh0rIenvNzka_falF_6uLjKzXNWpdfdXe3XNqidLaSAg2jFzJSlFBIIShLvdwEpmbadjtpFsVxze6uWr_RT1zsgB4j114dezhXHF2T7NVdU-pxRrijzMrp2A6bish_YG2gpTXlwe3YXDWEO1FI86fnIQ7iLNItHTzrhUKCozrD8BE7R1Q71InGiAWC25nXjpwPRtlhIAx6QMzdWxThUbs6t7qOgbOHYJuztmP0JA3gLz7xhBTDxFFDj73cNis7o
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"rWTxoCPIiTVuqLQK4YlklTkKj7cy\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678743894007\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-2317811097629275444-a-geu2-23902-8024941-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer rWTxoCPIiTVuqLQK4YlklTkKj7cy
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002343
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6265983\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"RGTpr\",\n            \"line\":
        [\n                \"20 FRANCES STREET\",\n                \"SCUNTHORPE\"\n
        \           ],\n            \"period\": {\n                \"start\": \"1972-05-13\"\n
        \           },\n            \"postalCode\": \"DN15 6NS\",\n            \"use\":
        \"home\"\n        }\n    ],\n    \"birthDate\": \"1960-03-27\",\n    \"gender\":
        \"female\",\n    \"generalPractitioner\": [\n        {\n            \"id\":
        \"mfOSc\",\n            \"identifier\": {\n                \"period\": {\n
        \                   \"start\": \"1997-05-06\"\n                },\n                \"system\":
        \"https://fhir.nhs.uk/Id/ods-organization-code\",\n                \"value\":
        \"A20047\"\n            },\n            \"type\": \"Organization\"\n        }\n
        \   ],\n    \"id\": \"9728002343\",\n    \"identifier\": [\n        {\n            \"extension\":
        [\n                {\n                    \"url\": \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002343\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"KASAI\",\n            \"given\": [\n
        \               \"SUMAITA\",\n                \"SHAKOORA\"\n            ],\n
        \           \"id\": \"cDhCN\",\n            \"period\": {\n                \"start\":
        \"2013-10-12\"\n            },\n            \"prefix\": [\n                \"MRS\"\n
        \           ],\n            \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\":
        \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
