interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiNzRjNGM3NDQtMThkMC00NDQxLTkwYTItOGMyMDI0NWU4MDlhIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY1MX0.r_Q_5hEfzXblwgH-GZ15wwZhhe-EJ1UPh1E3NrIvgoEm6B1Qp1l2DSOmS5NI_fv2upIjd9ALVyEUE9eUL03VJYYlpH2s_RhxRmMVhreNJNFFw65jwL4NjQn568kt5V90Ib9q9WrZI7uPOJuRkx-Q3-N9c2cldHPpqSY7i12_Sw26Lot5vSKsfKiPW7WFDEK1OKIaPkaRvnO2HMnSYCDGfFv3iYGAoJOFyDFIRGQGZaBBgYbtTsV8kXkeOkOptp_8i7GtNSVlveK04LyQzbabEh7rmmwvKSiv2HMGwfrVlWL7ybhSQY8MRzZQ1G0OFUgTXjY1hOuX5q_6kt-3GymAVl_JOk0oXDDOELH_4rE5gtAvqrmTFppcRuli-uWAbp2thhKcMxgDVMK0-V_crGjoSm0kJphkoIFbaP_JsMHKr5EAnvvtCIU3DiY6IdeaUCuhRAaiM9p2VkAOju9DZAT6NnQ8fkYmowDROxX1nBBJcgiyFC25YT3ut7Qx7Q3Gv04u0lM3DKsdc8DhoZ2xtxiqcOA2K9WQMN4RIy-9QHSk315jq3YvElSKrjaXotOZa0VepaZBHTy4PhfielUYjvNTzvqECNmaGYW04CHmpqKN7o8qPLFnUEk_X6FA5obqNLWNAP39k9BoMNVeoHtzU0ITj8KN62C83qXdsS-Vskaeuu8
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"W2HvsMkrZGIrMp5MryOi4cEtTK4O\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546352636\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-7882394486086254890-b-geu2-2445-9845809-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer W2HvsMkrZGIrMp5MryOi4cEtTK4O
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002440
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"32144717\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"ZtQOi\",\n            \"line\":
        [\n                \"17 BRAMLEY CLOSE\",\n                \"BARTON-UPON-HUMBER\"\n
        \           ],\n            \"period\": {\n                \"start\": \"2019-12-07\"\n
        \           },\n            \"postalCode\": \"DN18 5GA\",\n            \"use\":
        \"home\"\n        }\n    ],\n    \"birthDate\": \"2012-07-19\",\n    \"gender\":
        \"female\",\n    \"generalPractitioner\": [\n        {\n            \"id\":
        \"QAJvu\",\n            \"identifier\": {\n                \"period\": {\n
        \                   \"start\": \"2017-09-29\"\n                },\n                \"system\":
        \"https://fhir.nhs.uk/Id/ods-organization-code\",\n                \"value\":
        \"A20047\"\n            },\n            \"type\": \"Organization\"\n        }\n
        \   ],\n    \"id\": \"9728002440\",\n    \"identifier\": [\n        {\n            \"extension\":
        [\n                {\n                    \"url\": \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002440\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"SIMON\",\n            \"given\": [\n
        \               \"ORPAH\",\n                \"CARMEL\"\n            ],\n            \"id\":
        \"Dnclr\",\n            \"period\": {\n                \"start\": \"2020-06-29\"\n
        \           },\n            \"prefix\": [\n                \"MISS\"\n            ],\n
        \           \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
