interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiYjlmMTBjMTItMDc3MS00ZmM1LWFhMTktYmZhOWFhZDUwNWM1IiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY3Nn0.VyWBU5PRe_nZHMFCGb1BGJZeA_6EUYYmttQkeJu_cmMpvf0FnMUVvw4_Mc_9Z3wfkt4HsJuwHwct6el86zkFxouIegnA2mmyZMnGWCkWxyxLj8Wi9BHE_nq7sfEVNPrC203BBp00Q8RqpgZlGtYm0L1eBM3MXjIY-szvn5xQIPLiZ__ud7wF-GXsxviiak5G87CVWa39f--bqqfnPMBJfuKG6gzEfAGvp3rPZS4XLnNeOwwid7Fz-OoEt_q-w85Z0ZABPYKTzNpMi7spmF8vE40LghNflagCCN_ZBSw0m1pFLjHMYYM7T3aSDcUWeFaCTE-__wwpEmD14obodjDY6CyXVXZ5AadgXKygnEsaTEuHN4YAVMAlFJfvfGslj2ISCP84lwxkXe9-in9am9UjeEGlQKGvmTWA_ADrvTHtYbAjjqQRnmSZpNf2quMXc_FDKWZh-cnufIW1ZyDf1k7J78n_YvNNsHffCmIV5X-K1eciqp_S36u7rNW2pGa6m1MucWiNH7YEIStq1CkxCk1q0WAD3A6FSYCaZBbFTLF1aInA3AONHzYYZLHiQHuZkV_en1YvDEpZBvIRdYnhM8NlYXZIaPRMcjNH7-DxarzjZ3vJ4X0sKtgNaQg3kEoTPW20qjBMezO7TybI5ZPnzfm1GPKJ_tns5Dat0kMxQzoZTc8
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"TNiaCZtzPKzWK2TWqmatyn9aaKnv\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546377382\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-3090325540648010282-c-geu2-23838-4585149-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer TNiaCZtzPKzWK2TWqmatyn9aaKnv
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002513
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"16653833\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"QpENV\",\n            \"line\":
        [\n                \"1 SILVER STREET\",\n                \"BARROW-UPON-HUMBER\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"2017-07-11\"\n            },\n            \"postalCode\":
        \"DN19 7DW\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"2011-08-11\",\n    \"gender\": \"male\",\n    \"generalPractitioner\": [\n
        \       {\n            \"id\": \"ENcWm\",\n            \"identifier\": {\n
        \               \"period\": {\n                    \"start\": \"2015-06-10\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002513\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002513\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"WYNNE\",\n            \"given\": [\n
        \               \"Irving\",\n                \"Antony\"\n            ],\n
        \           \"id\": \"knPhL\",\n            \"period\": {\n                \"start\":
        \"2015-03-19\"\n            },\n            \"prefix\": [\n                \"MR\"\n
        \           ],\n            \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\":
        \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
