interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer ALpf88s4wjVxbgX7W04V5DhFtxah
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002351
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"19974637\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"fwWKj\",\n            \"line\":
        [\n                \"1 NORTHLANDS ROAD SOUTH\",\n                \"WINTERTON\",\n
        \               \"SCUNTHORPE\",\n                \"S HUMBERSIDE\"\n            ],\n
        \           \"period\": {\n                \"start\": \"1980-10-21\"\n            },\n
        \           \"postalCode\": \"DN15 9PX\",\n            \"use\": \"home\"\n
        \       }\n    ],\n    \"birthDate\": \"1961-08-28\",\n    \"gender\": \"female\",\n
        \   \"generalPractitioner\": [\n        {\n            \"id\": \"uFHCe\",\n
        \           \"identifier\": {\n                \"period\": {\n                    \"start\":
        \"1982-02-05\"\n                },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002351\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002351\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"CANNON\",\n            \"given\":
        [\n                \"Haley\",\n                \"Joan\"\n            ],\n
        \           \"id\": \"yZltG\",\n            \"period\": {\n                \"start\":
        \"1976-06-07\"\n            },\n            \"prefix\": [\n                \"MRS\"\n
        \           ],\n            \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\":
        \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
