interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiZjgzOTdmNmEtZDI4Yi00OGQzLWExYjQtMDY0YjE5YjdkNTBkIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODc0NDE4OX0.I-meOoHa9WvX9imjt_XGET-8Uwe4ksRn7g2irlkhVR6csdk64sMMx2NJClL3gJCfp0txgmgfThfmLDEvbByKKav2YT41y_AwbjoXUrfEBk3M_HV4JbXnSr59719riLP9raWbG_MfW4LHDUzmXviqL4R0bylYwaLnBs4RIYKWJFR65eR43KZvYcL2EocVX1sk8XY5VvfFjbGAPIfFXA9LnHFwiugvVjFKtOtMhlRmnAza36LKITPJ1mhZ7joI94k4yi9AXw8uZqcqdnnTGp3_yIXW0oz8omFQKt6fTyqx1UV8NPoRAYX7ubMgwjOYTjGVciYkRnbBJjc83e51z6y23UobQecWUKZW60bGFNTtIwwntUUudrFvPOHNuGaGtXlbtfTMqoB9tEBu_anFeB0oLPi5TwEoCp05b_N3TpbEuPRVLDL_UqyJgWh--TYfC_nCUDG__UReF7TaO9MLie7b2eLRY5XP2nuJZW0vLaUidRPZBa572AdWqBsTMxY9fE_NHgK28-GVd_3E-RLD2nWRhAU7DaCx6JIZ6MP0xgibmEX7mzma49sFuYeMsX-QC7VV7jgodEPUM9ZKxC-We2MrDAA6uAqaETVOvt6bHuU5ADqXBYeFAlBKSqzSS-gOlE2pwTx9dW-flxbp8Qqrh2W8VLMo0aNAQbRIJEOxyHKNWUk
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"X3VgAIFRAhV8UNA2aX6z0DtMt2Yp\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678743890315\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-6993166222353329305-b-geu2-24095-4869296-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer X3VgAIFRAhV8UNA2aX6z0DtMt2Yp
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002416
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"16648460\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"cbiIA\",\n            \"line\":
        [\n                \"106 EARLSGATE\",\n                \"WINTERTON\",\n                \"SCUNTHORPE\"\n
        \           ],\n            \"period\": {\n                \"start\": \"1997-07-06\"\n
        \           },\n            \"postalCode\": \"DN15 9XD\",\n            \"use\":
        \"home\"\n        }\n    ],\n    \"birthDate\": \"1962-06-19\",\n    \"gender\":
        \"male\",\n    \"generalPractitioner\": [\n        {\n            \"id\":
        \"qWobI\",\n            \"identifier\": {\n                \"period\": {\n
        \                   \"start\": \"1990-03-26\"\n                },\n                \"system\":
        \"https://fhir.nhs.uk/Id/ods-organization-code\",\n                \"value\":
        \"A20047\"\n            },\n            \"type\": \"Organization\"\n        }\n
        \   ],\n    \"id\": \"9728002416\",\n    \"identifier\": [\n        {\n            \"extension\":
        [\n                {\n                    \"url\": \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002416\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"MORGAN\",\n            \"given\":
        [\n                \"CADOC\"\n            ],\n            \"id\": \"ncyKs\",\n
        \           \"period\": {\n                \"start\": \"2000-03-19\"\n            },\n
        \           \"prefix\": [\n                \"MR\"\n            ],\n            \"use\":
        \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
