interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiOTM1ZTZjMzUtZTg2Yi00NTEwLTgwZGYtZWU5OWU0YzEyZWEyIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODczNDIzNX0.Ve7qMtwV75ReDbD96Nl40E4Y4QBtX-zm0jMXENyQrAGgYgXy9uK61JX3JwuxI2S19KV7lsQwBS8mwqMdjqL6V9txlfZGHZObz18PsQEpq2walU1q-cGutopb6tGwhLPXpSzU0lz1lSNNkzdaPHWWnurKwtIltLYtjv6o5U74KECaDQU5pSWYpLIPFSWUgUz01zSmIDb0i3Sex7OJ7wcFsNflD523SOk52pJr580vqLVgrmH3xzHFRbxkPYRoNUVbI3O4hSK1sAXB_YVaPOYEmBZL1m8ZGbFbe0vxFHgji7J5UzTNeZeTkOxLX9XeVHWWAodR5LaPdKahC5AOupc2gJtwEAetUZB1FQVw3eGHkL-7fncgTR7-jHBVuNifFJglQBY_aZ9Z7QVktk1vxoVJ6OdzlMZAjXU9ntwQcbNgexa0CqlBfRrxH_DGk-qC0Ig63d-bKsZFOJR_N6oGFg5vPhuXB0IeQ8uieNiKUwIomQtrYyO2EjxaMn3EF0UIUpY7scvVK7s3pPzbLzY1VxsSJB7G912oOiYJrfrHNpXvsSwB05RP2Ju_AbbMHn4PAf340BzzfxMsk6tJ0d3CtOR7nHyzPCqds25PHJ_Eg6JASLUtQ2SNFCrkYkNrsEZE_4N7W6B1xu2Zsa2WKVhntSu4i6sHJY1L1tZuaOajeyhPWCQ
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"UjA31h6OFDhMs5prYkQy71F17mmE\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678733935944\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-5197799171693813489-b-geu2-23632-5029928-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer UjA31h6OFDhMs5prYkQy71F17mmE
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002483
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6291903\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"oWvXW\",\n            \"line\":
        [\n                \"23 WINDSOR CRESCENT\",\n                \"SCUNTHORPE\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"2017-10-29\"\n            },\n            \"postalCode\":
        \"DN17 2RH\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"2013-01-04\",\n    \"gender\": \"female\",\n    \"generalPractitioner\":
        [\n        {\n            \"id\": \"HCmmO\",\n            \"identifier\":
        {\n                \"period\": {\n                    \"start\": \"2021-07-17\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002483\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002483\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"KIRBY\",\n            \"given\": [\n
        \               \"Carrie\",\n                \"Elsa\"\n            ],\n            \"id\":
        \"UsWPZ\",\n            \"period\": {\n                \"start\": \"2016-12-12\"\n
        \           },\n            \"prefix\": [\n                \"MISS\"\n            ],\n
        \           \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
