interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiN2ViZjE0OWYtYzJkMC00N2FmLTlhNjMtYjM5OTllNDIyMTI0IiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY2N30.fFVyUOnYXoN9dPKqmjGeWToo-oQCDZWZznOLei51EbT2BF3rDpF8EfuaAp5_v22S2ehVUPcUclxMj_2hvpRswsSKyJ5pd-t8ysEC7rVFPsp1YnBjyUYNDIme2E7P7jjvDHAg2-eMxDUmhvc2_YYB3IQJkKoEBC_N0YuiHDn_Fypkh0hQFDD4LuWjy-S_3iJF4gJBSomNBgfILHtvVHmq7_QUtkqo9WibbVaMEiJH51B29rlVUxCN5s6t6ssv5hiR2Guax2cLWtFd5pPla-iCFMibrE3fR-dFtzAvbR5Fy8R7PXW0MflUJ1L8zM9cQNO7_ZM986UwrFkwp_d070ybPFWLo-lG8XPqLRQCzlwbPR7Yq2oagn2THW5YvFKeBa933vgAL8vfVsHTUvmNUz_X41x67fIneveI9Du8eP0VCIuaNaNIxjdSF_qINXIX900nsKlc1a2T7LYtP1_2UDnLcMmYYMNaKU-RR_HrwtXZZC_6UIMb6mcwt6vkKGcHAWCyu7KNVVyzOWjXQ6k8tzuN0L3MvTiQUQf8d53oDNFXW2dZcboAcprkoo3T_K4iCc0uO6G6LEdSTgRk6Qk3HLVQoSLmNwDqdvYEmmbPAw2H5wxVPSBEBENMj6jIHJj1ImgwRr6AoJh2bKHBSce13P88VD2tAIcNvP1AiZWgtENqsmM
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"nGlAeGH6U9q2oYZcdPlBOENaj7Qd\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546368130\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-7882394486086254890-b-geu2-2445-9846303-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer nGlAeGH6U9q2oYZcdPlBOENaj7Qd
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002408
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"27402913\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"edALe\",\n            \"line\":
        [\n                \"1 BADGER WAY\",\n                \"BROUGHTON\",\n                \"BRIGG\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"1985-07-31\"\n            },\n            \"postalCode\":
        \"DN20 0TW\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"1962-09-26\",\n    \"gender\": \"male\",\n    \"generalPractitioner\": [\n
        \       {\n            \"id\": \"UjfmY\",\n            \"identifier\": {\n
        \               \"period\": {\n                    \"start\": \"1980-05-14\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002408\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002408\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"DEE\",\n            \"given\": [\n
        \               \"Mathew\",\n                \"Neil\"\n            ],\n            \"id\":
        \"VrXHp\",\n            \"period\": {\n                \"start\": \"2006-02-20\"\n
        \           },\n            \"prefix\": [\n                \"MR\"\n            ],\n
        \           \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
