interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiODI2MWFmMDAtNjU0NC00MTgzLTgzZTAtMGU2MjhiZTNhMzM1IiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY2NH0.fis7DlyAem48yztnPlcsWeqj2sk9nQB0ZAud1s5OTPwrMiNZfju0_wVo_H1d3a3hZ5gKtODyj-3A_YH2SMwJZrQqOPhyCLkfmvUFez74_Isqhw9yKXOFgub1fBBMBECqj-ZzQY-pqT9b9e7RiUqmR0639kOtXFNkm87Ac-r8VYu0iW-TcBhCFukkW5XI0KlgUXwAIqHQtu2s49apNkOfdq3Y7zJnGNVlDLlNq3cwzFBe7Z5oy7ag5xlNPqzhcU3UMTbIJb31CwDvMTLVrqbdDvNfCeoculneueDCN6aYauxm-yVAhPv_IzwUz6CXqknsTekVSOH-FVeFphkEgLhy8Ty_WK_b0O6FNW4pyCU8s0f8tXRqPUINRkEa2LEk5RUfHM4RKSK_UUP5Kfm76VYhPKr0iv4rzGqHGrh-v33q72AIj-JvNzXqpcJl0PrTLYL4DV9opUdBW0Yol1rC5TxTKe2oxdcNdEHkW7a4NMqE1y8zHb4cumVgfmWmOFf1s4-Pxpxbeq-WozbHZHsb4-gRWu1m6PtOqiBrIdVNGbRZaIqYKjL4BlojD0se_36KxfwgGeVgQD534uxFOX5ZAt2_kt2rfT-Fz3Yfpt54DFGuT-UahYD28tI_3gbEZxx5gKZSw6DERFRsi2qrdgPfqKUVnUwVPohSSNkV-ITWBLztQYo
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"RvLjVg70hAiKF4Uj4SGj21fth6NM\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546365386\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-2208886024013165144-a-geu2-23792-39315-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer RvLjVg70hAiKF4Uj4SGj21fth6NM
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002483
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6291903\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"oWvXW\",\n            \"line\":
        [\n                \"23 WINDSOR CRESCENT\",\n                \"SCUNTHORPE\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"2017-10-29\"\n            },\n            \"postalCode\":
        \"DN17 2RH\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"2013-01-04\",\n    \"gender\": \"female\",\n    \"generalPractitioner\":
        [\n        {\n            \"id\": \"HCmmO\",\n            \"identifier\":
        {\n                \"period\": {\n                    \"start\": \"2021-07-17\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002483\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002483\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"KIRBY\",\n            \"given\": [\n
        \               \"Carrie\",\n                \"Elsa\"\n            ],\n            \"id\":
        \"UsWPZ\",\n            \"period\": {\n                \"start\": \"2016-12-12\"\n
        \           },\n            \"prefix\": [\n                \"MISS\"\n            ],\n
        \           \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
