interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiZmY4MjQ4YmMtNWI4OC00YjRlLWI2NTYtNDA2ZmY1M2Y5YTJmIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODc0NDIwNH0.b909qC4uMBm5WoVTW2gimtwzA2SB5CVImV8ILcn5a72UBW1oBwP7c79VAVi0empAHb4JeOw_jxE9xuNSI0w2S2F4W6kSc5KvTJYBtacxJ7V2Csaet9hIbWRplIerHro3HbS7x94ZLdE7OVbz0IqOQR17UXhtAx4kN_qzPeTJ4yQ0e1aAWlEm6UUf-jw1uFi8712S5_bazCqLT9XH7RLc_AmlymkiWbMq4ukg4BQaGvvAbd712cxSi2eki7_JMPj10U5d52BdKYujxzjIkPNm6d1XFUYrGo8qz-V6nbU_cCQZ7EKuy2di0pjDqtZLalQOdixXlph1aGE5mc_KlSGHwdHTqNfZz9m4bMzdFGd3bsfcDDfw5ySfUZkAQsNB6OP5k6_2Ne6BifpGhSO51BTXEmjVqS7VURj_VZvgMGx9Fn5dpOYRroEOyT6A6Na-O51B1sByNBJZj4SI6tVbIPsZrIRkmWYKWAtN6IKI1R-ZFXoHUQRLZYtrgQEGXkscoAbcu0csI6T4Z5s3O7bFde3w6AORNwr1GeW8bJDefluVQMwwC7fJOCyA0XRTAJFxEU4FWoM0y05BrfRc8d0ifXbA_uWeyUuJ0ODVakKDKx550Mm_zriOyeNZcO1QQ026g3BTKLo8-lN41NxUhy8uacr4yST49sUg9E0TNNTKHLlF-JY
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"WaB2A8VFXMn6YQSmwHRDwHu3uZ5F\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678743904899\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-5796338890577065136-a-geu2-24091-4416833-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer WaB2A8VFXMn6YQSmwHRDwHu3uZ5F
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002424
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"16681678\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"uJQEh\",\n            \"line\":
        [\n                \"MARLAND HOUSE\",\n                \"HAXEY ROAD\",\n                \"EPWORTH\",\n
        \               \"DONCASTER\"\n            ],\n            \"period\": {\n
        \               \"start\": \"1972-03-05\"\n            },\n            \"postalCode\":
        \"DN9 1DE\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"1962-10-04\",\n    \"gender\": \"male\",\n    \"generalPractitioner\": [\n
        \       {\n            \"id\": \"MjCDi\",\n            \"identifier\": {\n
        \               \"period\": {\n                    \"start\": \"1991-07-31\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002424\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002424\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"SPEAKE\",\n            \"given\":
        [\n                \"SAMSON\"\n            ],\n            \"id\": \"CBfGT\",\n
        \           \"period\": {\n                \"start\": \"2008-09-07\"\n            },\n
        \           \"prefix\": [\n                \"MR\"\n            ],\n            \"use\":
        \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
