interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer ALpf88s4wjVxbgX7W04V5DhFtxah
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728892440
  response:
    body:
      string: "{\n    \"issue\": [\n        {\n            \"code\": \"value\",\n
        \           \"details\": {\n                \"coding\": [\n                    {\n
        \                       \"code\": \"INVALID_RESOURCE_ID\",\n                        \"display\":
        \"Resource Id is invalid\",\n                        \"system\": \"https://fhir.nhs.uk/R4/CodeSystem/Spine-ErrorOrWarningCode\",\n
        \                       \"version\": \"1\"\n                    }\n                ]\n
        \           },\n            \"severity\": \"error\"\n        }\n    ],\n    \"resourceType\":
        \"OperationOutcome\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
    status:
      code: 400
      message: Bad Request
[...]
