interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiM2M2ZmVjNGYtZTEzMC00NTFlLWJhNjItMzk4YzEwYjQ3NTk5IiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY2MX0.Ark0tjzHePnuGVLZuANOAhMzMtbEm_YeKOJT3HFlLlBjtQS8XfKXNk2dsYnZvjaOGQo0Dnd_60PXdyPvU3rfP0Qgp-01FcQ5Yls3dH8ZORyCbOEXtoZm6xTqZHyJJrwTNuW1Uz_XV2DCE78cupnyQ_dQYRPl6RtLMRySQXIe_9RpMI1zeN_Qu73noejy2yclfsZdgfiHpux3l6BAo5mQFmHrrCgkXqM7wqvusbxh83kqiiVZIyA9igfkHlb7zGyj3M_hDhZD48XVbu6vPAeVnlExzMeIcccbiq02i5N7gmRqYrZMSR0TbpAgZmXo5iX1ID9Fsy46Rh9IDQqqJnu4wRTo_wV6PRK7HYleKLOuMgypKHa_A8SsR2EgBb8-Ts2O9LJId_E2edVvHrajjUcpDWmsPWX_cFLJ0jsMKQJKf6vhbnAcaL6fp4SNaBebao2YxFyeV1yDKkOamhyDV88c7EJ4eqTNZXQu8UoUgntSlbiDAzoUEA3K_FuZDvwWOyhvqeaq7l-V9MH12suJRSwPgvh993poXtFDu6lwDNhqF9L3JnGwdl-AU02cgcR7Nw78JdwvlIc75-qsop0xMxPiI6FxWZMSnUioAoWkcgjvhyBJzh2TwNnRADp9H0ribE1ggkm8jMkK1PtaN0r-W81D1bNmINhYTpD5Q0HRGmOQ2EA
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"rdbCjjDfViEVwSKkeV1wy0IshPQl\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546362684\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-3090325540648010282-c-geu2-23838-4584583-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer rdbCjjDfViEVwSKkeV1wy0IshPQl
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002467
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6310922\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"jSleh\",\n            \"line\":
        [\n                \"121 SCAWBY ROAD\",\n                \"SCAWBY BROOK\",\n
        \               \"BRIGG\",\n                \"S HUMBERSIDE\"\n            ],\n
        \           \"period\": {\n                \"start\": \"2016-04-27\"\n            },\n
        \           \"postalCode\": \"DN20 9JX\",\n            \"use\": \"home\"\n
        \       }\n    ],\n    \"birthDate\": \"2012-09-29\",\n    \"gender\": \"female\",\n
        \   \"generalPractitioner\": [\n        {\n            \"id\": \"IWYfl\",\n
        \           \"identifier\": {\n                \"period\": {\n                    \"start\":
        \"2018-04-27\"\n                },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002467\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002467\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"HOLDEN\",\n            \"given\":
        [\n                \"Freda\",\n                \"Alma\"\n            ],\n
        \           \"id\": \"bYrRA\",\n            \"period\": {\n                \"start\":
        \"2015-05-12\"\n            },\n            \"prefix\": [\n                \"MISS\"\n
        \           ],\n            \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\":
        \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
