interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiY2Y1MzU5MmMtNDRhZC00MGJiLThhY2YtNDllOWE3MTY2ODVjIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY3N30.fq4kL96C1uceRK6xt6ld8AJNOuBFZRnwFRozrpQP2jrtvuchR8dTEw6QzoQhV-9ZcedS69a0CrFBTZDRwdm6tfNKcQfvgDB0bbpl0cAKQm_mte5n1e10Mu6b3OWl0R6zTTOyuLStuGrexAw9wzbbeuYO87gW8MLYYAzG9kkN-hS0_Tl2RMsclLZs_RNvP5MQ78KW9ZeHJhfzffN4E_6FvE9nVhbM_gfHe7U_uOGcZoAnc3LvN3cyaGQ1qxCtua355e_ILe5bATAL6yCb05IzwO9lkB7zEvfW5iwtl5ZDraN5doXjv_67LQFIZUAgJHLElIXXOO7gl5DYVRUFDHKc3RiaOjLtw4i9kaR0kDtxtYkMu5vYryif37iXyjvyLrz92gGC3VVZzTkJzQGFcqphfALhWA6TY44PwqudtjZEvJjV-yux7AbzZ2BM9VFPcewHnIrGSlD1TgQZ_7iKPr9txkDem1E5Y46DrV-6tudO2xc76VSChPA-M86QWYkmHwJRpVRQ4pTKw1rf7txXmld0brHEmjfP0ZUe4pffQhJhPq5TUcvkrSKZ555tjZW1uImYoFiSc6XYPZCXLbv9P3I7QXm-HMmWDV4H9xmAhajy_88W8C3TU7NIQF15i8TI2Dk_5AfoER5R1nkdDdd4JTcsQ1ToiM8XM_bpj9WDKDnxpYo
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"BFyAVaqP4fyctuxzYDzxfEX2etQz\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546378196\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-3692895579532269097-a-geu2-23860-771244-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BFyAVaqP4fyctuxzYDzxfEX2etQz
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002483
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6291903\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"oWvXW\",\n            \"line\":
        [\n                \"23 WINDSOR CRESCENT\",\n                \"SCUNTHORPE\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"2017-10-29\"\n            },\n            \"postalCode\":
        \"DN17 2RH\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"2013-01-04\",\n    \"gender\": \"female\",\n    \"generalPractitioner\":
        [\n        {\n            \"id\": \"HCmmO\",\n            \"identifier\":
        {\n                \"period\": {\n                    \"start\": \"2021-07-17\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002483\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002483\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"KIRBY\",\n            \"given\": [\n
        \               \"Carrie\",\n                \"Elsa\"\n            ],\n            \"id\":
        \"UsWPZ\",\n            \"period\": {\n                \"start\": \"2016-12-12\"\n
        \           },\n            \"prefix\": [\n                \"MISS\"\n            ],\n
        \           \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
