interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiNDA4OWI2OTYtZGFlZi00M2MxLWJmYzMtMTE0ODE3NTQ5OGFjIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODczNDI0NX0.WPviYRDd5GWjfEQamunHO97DcuJqS9zX-1oMhoFMeQj35pyVdg_7jcGDojMSJCaO950cjnXoEIbjsCS3aTvMhTxOMFRIh5j7oPmjTLyNiC-Lt3Cay5x6umV_fq0QIuZAtIv5WJ3XX8GRiI0zUKuAFcCEtoK1C-RpjQsckwTE5OJR9B_ncAFyZg-cyZCGzaS9aVnHk5dW1yG4YLWU2usvU3YONP51nl1mKvJjbANEp6XT9_ArWsqkr3_WqgPbfGWUnjpAnxQXqnXZZbolQZdUQedgQ-xFZn0UxTm61JH3BUQz0uypM06zkU-jgC6bVbwSWEHmSksXzVyAGw5MbwvwBJ3cCCviz9AJZ1tv269hNOP_aHHrX7msn4oguiLswXSkgmGws7cxXugZNfXjwjDRVRtyKL71v_O6OOxaIMwvQBVAy3x6EQ7ckXzOt0DJvX0-1Kmejybh8xjfoR2QqwE689YDj1X7eNISGCSVVxfGyXHn0aBLaM1QMV-zTeJGMvkpyny_NERjFoOr6dHv7SxmmPNVn0EnnBP2E7z-LYb0GQp_bFLb7F1HY3mzOo-D-DmudmUmTBYYK1nQ71_3ZiyeMC04Rpp8w5Zq-IQPpgB-k4n3OdPAU2K_ocFXX6T_fsqLhgdkwwv_T7HKsG8oDujdWtyAHGcihyfpxF957APtVRo
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"Vs7ynYGPDNIuuvzYlQz9F9HzuaKn\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678733946110\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-6727854440233114055-c-geu2-23840-4922290-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer Vs7ynYGPDNIuuvzYlQz9F9HzuaKn
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728892440
  response:
    body:
      string: "{\n    \"issue\": [\n        {\n            \"code\": \"value\",\n
        \           \"details\": {\n                \"coding\": [\n                    {\n
        \                       \"code\": \"INVALID_RESOURCE_ID\",\n                        \"display\":
        \"Resource Id is invalid\",\n                        \"system\": \"https://fhir.nhs.uk/R4/CodeSystem/Spine-ErrorOrWarningCode\",\n
        \                       \"version\": \"1\"\n                    }\n                ]\n
        \           },\n            \"severity\": \"error\"\n        }\n    ],\n    \"resourceType\":
        \"OperationOutcome\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
    status:
      code: 400
      message: Bad Request
version: 1
