interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiNjBiNjUzMzctYjlhZC00ZThmLWIzZDgtMTA5NGQyNzFhNGIzIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODc0NDIwMn0.dBRpvNYthWFRnQYgSaKSZbvC21JZgqBanHf1cFZfd62fekMVoYatrwxJu8sOTRf9GPliXyF730Rg7tDdLXiK5NrTW-ZOmStNXPLUzVX-wkQFuRmfzVDKoL8HVuGPm4Jqn1comKYWTKd4i_9bkDp9aVE9ZhbDPgKd759J8Oqc8C8G_TfC1RSLNhz12OXTHx-nden43LaKlI37ancZEzGR7Jg4hdjF62F88WWctsc43UvGq36SbWrfIs1mNlGJ7EztrNUyXEMpd6r4tSXjCURcRCltDWF_zEjszAnx1Cd0ORmtW7oyFpN_f739TE5UNwn6qANrCbyzZxmBP2nfRJfHLBhIwhvjU-6Ei-ofFAWKFipV7R-UaxmDqFJ5YJ6KiIEVmlrIW5Yg2PMrjJH9JLwkpDeUK6r31DyvIVU0uVyNpzmpFSPwZrRApWkO4n_xca-ZZwkwNqfbdqkIG5Hq7hGydarhgWDMeZw70Yu-MUqbwj0PmyEjmTj8ztHxCYZHm_wwZPEdKAvcCaSg1ddOk8rZo7KuOERpq6v_J8FAC_3FMnyT5EWsWU9UEqaNamiK4jVu-e8h5zR7sXfblNu3TPZjBbIZ45GHAvtRVK3r2Mh89JFbfPB0g-jFoXVo68q8-ADW37l3ctNnn4g8qbqwJAwmo7ggAhvIbspNiC5XEZjb0l4
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"ONrqWQ3OKFjvBJL1pFriOf9umDAU\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678743903137\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-7516941830607482798-c-geu2-23801-35307-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer ONrqWQ3OKFjvBJL1pFriOf9umDAU
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002475
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"22408060\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"eUZvb\",\n            \"line\":
        [\n                \"CHAD\",\n                \"STATION ROAD\",\n                \"ULCEBY\"\n
        \           ],\n            \"period\": {\n                \"start\": \"2010-03-24\"\n
        \           },\n            \"postalCode\": \"DN39 6UQ\",\n            \"use\":
        \"home\"\n        }\n    ],\n    \"birthDate\": \"2009-06-16\",\n    \"gender\":
        \"female\",\n    \"generalPractitioner\": [\n        {\n            \"id\":
        \"NRzTw\",\n            \"identifier\": {\n                \"period\": {\n
        \                   \"start\": \"2019-05-04\"\n                },\n                \"system\":
        \"https://fhir.nhs.uk/Id/ods-organization-code\",\n                \"value\":
        \"A20047\"\n            },\n            \"type\": \"Organization\"\n        }\n
        \   ],\n    \"id\": \"9728002475\",\n    \"identifier\": [\n        {\n            \"extension\":
        [\n                {\n                    \"url\": \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002475\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"JORIE\",\n            \"given\": [\n
        \               \"Cassie\",\n                \"Mabel\"\n            ],\n            \"id\":
        \"GWRUv\",\n            \"period\": {\n                \"start\": \"2009-11-11\"\n
        \           },\n            \"prefix\": [\n                \"MISS\"\n            ],\n
        \           \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
