interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiNzE1ZDNiYjAtM2IyMS00YTllLWI5NmQtYjcyMzQ2ZDEyZmQ5IiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODczNDI0Nn0.psIL4MjfsfASeBt533OhdHTffnwNEV_G-X7y8KWi_S_Qoc0Q0hM2_fzvhrnmWbGYNf96qq9jaB1U-QxQMpOcXlFTYo5TFlUP9rIAVbAI6nRKJoZLHN5zfDcA9DlX0jXkjO6l8hiPiEIprQ6q31vCWg5tn_7BW-L0zjOYQkHNa-zxo7jE4PB2fczn8WIHITCQMudc_y0OHMAkL0Wq2gdWEkcHKItuOAEGivOzr8hcSj6l0h-gngm_YhnKr92EZTJYB2GAQp9mKOAzMZR0-yFXcPSQ-p7abR9XwlQ76wd3iGURqUvOVyhaz19ZAX-rbBFJF2bJ_5Z_yaSK4Y-lXapMGqs0IQE1YbydZnboFQnJIv7l20sMC4PX21yD3D8_bAvGDKsQNacHi6Hq2P9jcWqeMiihyv4_sMQQ3nu98z7Ez_JKDZFjyv8zZI3N861sIu7paCqPv8PetWMTz5_vst5DWEP1agdDtygehE-6kIGeNZZszBkwHyIgp9Wv7CL_vX5aDUaakeGgRNxcXojY-SKWMf2aO9T3GxiKPtADqidLejCCQBIdYMWf5tNGR3KJXIPgZP64VU6Gtsgy6Qjmguu3RZhhA7OGWcwMDlAu_V_CMlgporKhGt0D0ItZFAhBdz9XjG25Skj29fEMZaOEI-u0N5TqvbY-jb6UCFOXYGYJZpM
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"TevKSJwMh96Zi6Oyo0RGzdDD7GKB\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678733947006\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-2657659318457031890-c-geu2-23823-950172-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer TevKSJwMh96Zi6Oyo0RGzdDD7GKB
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002416
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"16648460\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"cbiIA\",\n            \"line\":
        [\n                \"106 EARLSGATE\",\n                \"WINTERTON\",\n                \"SCUNTHORPE\"\n
        \           ],\n            \"period\": {\n                \"start\": \"1997-07-06\"\n
        \           },\n            \"postalCode\": \"DN15 9XD\",\n            \"use\":
        \"home\"\n        }\n    ],\n    \"birthDate\": \"1962-06-19\",\n    \"gender\":
        \"male\",\n    \"generalPractitioner\": [\n        {\n            \"id\":
        \"qWobI\",\n            \"identifier\": {\n                \"period\": {\n
        \                   \"start\": \"1990-03-26\"\n                },\n                \"system\":
        \"https://fhir.nhs.uk/Id/ods-organization-code\",\n                \"value\":
        \"A20047\"\n            },\n            \"type\": \"Organization\"\n        }\n
        \   ],\n    \"id\": \"9728002416\",\n    \"identifier\": [\n        {\n            \"extension\":
        [\n                {\n                    \"url\": \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002416\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"MORGAN\",\n            \"given\":
        [\n                \"CADOC\"\n            ],\n            \"id\": \"ncyKs\",\n
        \           \"period\": {\n                \"start\": \"2000-03-19\"\n            },\n
        \           \"prefix\": [\n                \"MR\"\n            ],\n            \"use\":
        \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
