interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0yIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiZDRjZGJmYjktNzc4YS00YWZiLTk2YzItYjgyZTc5MjY0ZTI1IiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY4MjQzMzQwM30.tIRiG9lgElO_1p5qelrFzC-WcnEBqn4x_wrktPk-zki4EG_8cl2XSgZH-7nQd7KF7i34B9vdN67dzb5LMDbqmZj7im3LafXPkzljAoJhxzJXUV2k68iA0cu8siGXAYe_89GXAKVtreWZFIAdaSFfX6cZzEhBPcvQKsJj69y6vqXaGlH7YLMsLOE7F5i_r5ZgGlZqY3pdI7YY1CFznG4WKcghAYvY7B1hy5Hde56MLUhqHOxVmQCuvfcEmPgcZKRMls662fDTwQ0XWoRIcVVweWMev69wWwxz9u4914RqaMls2TqyfUA2AQUWZKagZInOxfZjYD6SahmZLAtYtOyjSDM79evP6YEjRnG8FRRVNptKvULmvXfXG-27XWeVhUdubsH0Yf1fkIg0wDM6zDcrACEqZJy-nLMNSTki42aI0lZ5Q1c4a7xT5i42FSPEURhKvDQeY5lZFFd_aUITr7B9cZQZ5AXaMQXR0FTtPAeUdzmZ56ubdbPIgvrMLqZdaYEtlsepnGs4QaSOLB4iALRORbPAriIO4IkU--4lMgD3h-WEtzCt-b2_J2fqAZVFBj8U00Efg6KLu_V1OfFpQ5W_Imgtr56h65LdQqCdn0P9ZeYM02ffiVK8kUKw3ANrnIB2CtPGHHsqxS1BB4bQUyMVX2RVQTUlGgJgwmcNmTiwokg
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"ALpf88s4wjVxbgX7W04V5DhFtxah\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1682433105480\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-2557047579242455505-c-geu2-24324-46560917-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer ALpf88s4wjVxbgX7W04V5DhFtxah
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002416
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"16648460\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"cbiIA\",\n            \"line\":
        [\n                \"106 EARLSGATE\",\n                \"WINTERTON\",\n                \"SCUNTHORPE\"\n
        \           ],\n            \"period\": {\n                \"start\": \"1997-07-06\"\n
        \           },\n            \"postalCode\": \"DN15 9XD\",\n            \"use\":
        \"home\"\n        }\n    ],\n    \"birthDate\": \"1962-06-19\",\n    \"gender\":
        \"male\",\n    \"generalPractitioner\": [\n        {\n            \"id\":
        \"qWobI\",\n            \"identifier\": {\n                \"period\": {\n
        \                   \"start\": \"1990-03-26\"\n                },\n                \"system\":
        \"https://fhir.nhs.uk/Id/ods-organization-code\",\n                \"value\":
        \"A20047\"\n            },\n            \"type\": \"Organization\"\n        }\n
        \   ],\n    \"id\": \"9728002416\",\n    \"identifier\": [\n        {\n            \"extension\":
        [\n                {\n                    \"url\": \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002416\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"MORGAN\",\n            \"given\":
        [\n                \"CADOC\"\n            ],\n            \"id\": \"ncyKs\",\n
        \           \"period\": {\n                \"start\": \"2000-03-19\"\n            },\n
        \           \"prefix\": [\n                \"MR\"\n            ],\n            \"use\":
        \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
