interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiYzEzMGY1NTQtOGFhNi00ODRiLWE2NjMtN2Q1MDUxZGFmNjM4IiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODczNDIyMX0.Wk-5CuprjtQu81HwH9Y8n-jtBQnR2s3I5Vd1_X-jQQHA17hfBGcSUujuI8BMd3B-AKq-lNPGikAQ2-X8wSqArhRFS0VI8QN2jbAydONgSBD1XqOrDCYvtft8qb-zhmD3zxA8BDAENTA96frNWTE-amQagVDtFUwacmqFG-iLXYP3hvDgFfotgCq8JDiGkA-TXsR7JnE3kHk-Y5PknyqmLG-i4jvHg3P8i5sE6sIbIuIDGVu2M5NxNBV9tZtWmOSmmafPsjEO5nxgMVvTLU1sGwsdKKHT-dCir615aoDQIOGgV8jneJQLDw-rZ_QQUxZ0aCBiDl0usK3boI89mxZTZ-qwdJddtmHbWKRdnKTIJg3SHhrIEjAWRrqdAPLbYNb3b6uylI4AeQEB5vkUSOM_ySi8N2RJN0pHiTXCvfwxW0AVpLuu2bolmCNYBnJYrIi3EI1MLeOPH-3pURI4WeUtQXkDkv9Jx2jdGz_-YgSIXHgormUiMRT65gGBNsrCsGVxz_MeS3oxqAsSjHxJu7GQqULF1i-QntDDwqCSUkfN255kxkLCNN64aqwnrSD9osQPEU9hUISjPYeWkSrhxa6ypQlq3Ts1c-7eHz3g4Nqlgc56_VN3Ss5UwxlI0v_IO2OybZhiEQDsNNae6GBc9PDfufq28BYLQO4tDWYJi-9V89s
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"78fOeo1hK5yu2QcYG7qAt9zdnEyJ\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678733922740\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-8093673071361309881-a-geu2-23831-719892-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer 78fOeo1hK5yu2QcYG7qAt9zdnEyJ
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002343
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6265983\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"RGTpr\",\n            \"line\":
        [\n                \"20 FRANCES STREET\",\n                \"SCUNTHORPE\"\n
        \           ],\n            \"period\": {\n                \"start\": \"1972-05-13\"\n
        \           },\n            \"postalCode\": \"DN15 6NS\",\n            \"use\":
        \"home\"\n        }\n    ],\n    \"birthDate\": \"1960-03-27\",\n    \"gender\":
        \"female\",\n    \"generalPractitioner\": [\n        {\n            \"id\":
        \"mfOSc\",\n            \"identifier\": {\n                \"period\": {\n
        \                   \"start\": \"1997-05-06\"\n                },\n                \"system\":
        \"https://fhir.nhs.uk/Id/ods-organization-code\",\n                \"value\":
        \"A20047\"\n            },\n            \"type\": \"Organization\"\n        }\n
        \   ],\n    \"id\": \"9728002343\",\n    \"identifier\": [\n        {\n            \"extension\":
        [\n                {\n                    \"url\": \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002343\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"KASAI\",\n            \"given\": [\n
        \               \"SUMAITA\",\n                \"SHAKOORA\"\n            ],\n
        \           \"id\": \"cDhCN\",\n            \"period\": {\n                \"start\":
        \"2013-10-12\"\n            },\n            \"prefix\": [\n                \"MRS\"\n
        \           ],\n            \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\":
        \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
