interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiOTVmODM5OTQtYjZiMy00MzIyLWIzYzktZWU5ZWFkOTBiZjI0IiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODczNDIzMn0.ULI3j8NOf_BK8Y01iouMo4KId05YnKQuptwT9qCb1rBq7gFOnm97LtMw7BX8Co2Ifxh_vfldV0vXke5fpMjyRnwM7QP7-J_ulSkstKow8oL_akYCR3JRHZX9c5q0aLdUl19qed_Hx-7SNgS3AnaFcxTY6R62IHz-TQxY3rPnoHyzP5jwgE3x4FbIi4Ry56VbMpufFa08NgXvRjPXugbgTFeI3JCr23aVJPJqH9CKxqKztDCpDsQmz9mCopnJV83JmEjKa81zStXQu8KvhWG45anliFVV_qVVDw0O8eTPOmQSlka3uYd5oCk_PfMs-yQec_NnQ56OlO6VAvPhV7zX0isY_0sU5Ye1lltEPpe81WHK7Im5zklnQf2Mx9PbSKvADnOhkVqhkcZPcYihgTs1cV_ECs2lVchlaf4teMN47za1MN-5A_YktBYNmb22XWCf-JVnhD4RQQmbJ7pFCp9qVO0Aqe2Km5Hd6RVKzNi33-tAj0AXMefSVI6PE2VSDF_swLO49SdMoqjqwgq7gYCpfHdLBEsr01cZ3zxwwE6rWHf9RzQmtAjx1PxibOxZk16j2eeXbcvQLvHIc8p0kYTNoZjqyiqJCoJyHn4o4FLJ1ldegOXg36lXO73LOmbNXDfcKFlvEDt5BXEM8vv5-eSW8MS3UTA-EaB5XsRBupb18Vc
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"ujfLAm6C6Ha9X3xe9q4LQIOwHWzO\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678733933269\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-6993166222353329305-b-geu2-24095-4615521-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer ujfLAm6C6Ha9X3xe9q4LQIOwHWzO
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002467
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6310922\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"jSleh\",\n            \"line\":
        [\n                \"121 SCAWBY ROAD\",\n                \"SCAWBY BROOK\",\n
        \               \"BRIGG\",\n                \"S HUMBERSIDE\"\n            ],\n
        \           \"period\": {\n                \"start\": \"2016-04-27\"\n            },\n
        \           \"postalCode\": \"DN20 9JX\",\n            \"use\": \"home\"\n
        \       }\n    ],\n    \"birthDate\": \"2012-09-29\",\n    \"gender\": \"female\",\n
        \   \"generalPractitioner\": [\n        {\n            \"id\": \"IWYfl\",\n
        \           \"identifier\": {\n                \"period\": {\n                    \"start\":
        \"2018-04-27\"\n                },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002467\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002467\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"HOLDEN\",\n            \"given\":
        [\n                \"Freda\",\n                \"Alma\"\n            ],\n
        \           \"id\": \"bYrRA\",\n            \"period\": {\n                \"start\":
        \"2015-05-12\"\n            },\n            \"prefix\": [\n                \"MISS\"\n
        \           ],\n            \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\":
        \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
