interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiNzZhOWI4MzUtMWUxYS00OTE0LWI0YjAtM2E4OTI2NWJkYTczIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODczNDIzOX0.IwU2qphpA7iLN6t4u-mJYEpw8F4DzdOnvHIwrb9senO_khsxgbsdtAMD5A-1GjD9t0JeurK4RDPJ5ZPYxkpKgQdEh46G-samBoJ6pG0HqYtf61SlvXsa3PKb5gGRqY5Bwv7zi3hiDTgQNxBfp4Hos7ca1h_MQz2oigJqCBVJe-198St9P-UlcreZNuH2Y-4AH4wbh2TpiH1oql64MfCFxbjyEPmnpRtJD1LExWOrYJK0Iu7ezxb1TSqD7BTtF7NwojixJhmHvWTWkmTD2CvnJufGUEo0yA4qX4LZ0yhcQqIjafuZg4tG7a30GvG2fL188WR9Z526ZFeRaMBnRBynF9EFBIDbo1Nhsl6XEFhTitXlK8dVFc7ImWxgcnJpZKfMSKTcG1CvsYEvZj4F5CnTKIJFWqlrMSZjEM6LfTKhILpRqN81jO8CgRBNgGawVx3u4lhdDuidQZ6ew13XOdN0QNDhDwXFRaZvzd1q4AAOj7t6weCv1sPDtYqJX7HaMjH0KGsYJVdjwmPX0-VABn6SuvGT7_DM19Rp0mMM1pj2VMbMCe0-XF2ibquJ--QYIUrJ2eGglkjfaSu_yiRnOPEEtmOVKSMa-5vVfPaO1fnYbAq8mssF7MqKYEWr1IhGqt9IEw_6nSXFP0LCJLhLb4qYk1Y8-5T-zoAebZDF6uTSR8A
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"jsVT2EwL0PnB0dlwgJzYPHy51FoB\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678733940470\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-3122725631467642349-b-geu2-24184-74264-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer jsVT2EwL0PnB0dlwgJzYPHy51FoB
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002432
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6285386\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"czxvQ\",\n            \"line\":
        [\n                \"1 HAWTHORNE AVENUE\",\n                \"SCUNTHORPE\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"1964-04-22\"\n            },\n            \"postalCode\":
        \"DN17 1DL\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"1958-06-10\",\n    \"gender\": \"female\",\n    \"generalPractitioner\":
        [\n        {\n            \"id\": \"COCzc\",\n            \"identifier\":
        {\n                \"period\": {\n                    \"start\": \"1974-12-02\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002432\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002432\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"MONKS\",\n            \"given\": [\n
        \               \"Lavina\",\n                \"Maxine\"\n            ],\n
        \           \"id\": \"VWIlj\",\n            \"period\": {\n                \"start\":
        \"2005-04-19\"\n            },\n            \"prefix\": [\n                \"MRS\"\n
        \           ],\n            \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\":
        \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
