interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiMTEzMDM4YWEtNDg3Zi00NWI1LTg5ZmQtMzAxMDY1NWU1ODQ4IiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY1M30.KmtnpU1sjlAFzx9fCMjlVmq_tnn-1kXwaHf4YaQ3LIfLZh5iSHpoK3gDnisvT-vg8yEqw6heWEqUNgsPitsc6ajqoLneOasETB85gab_oQo6pKYddWvZgVsJGsIAPV-xgfKTOiNmz-gtJ1INexSaPQM7ARbuSYZPDvUsFN2dgF9vNycfK2qnN-5XUgXKELxZi_4sjiho9uLuDyjeWI5a4zkJvQX_PsPhZH4t-v1zOtysjvs1kdQ7XRrifiZsShR_IHf_ENOH8_T-hoO9mqdHfKkNBjPjZwqZd3ZhIO5amLvV8_4pUeHQtjFJx2B6ilqeKwjUuywuGV9AV-qI-FQ5CGei4oOZQLwMINESCkI_qbiaFKcc-p_KXHkHEPLDT1HTEaR8uiupA3IBz98Z5BZAhADeKh_sS7NbX9bfH8NyehtQWJ5DwzHYxbRtbK2IoOP7FvE2cWa6gKZfZfyrZpB1ETxS29RooDHBq_JkfWp8ed3ulXEKZHPhM-OmUDMyIoRkLBornrmUtmIZq967WhGvGSRUTH-io6sMbyp1X7ysKYxKPQ0CDRCKzlarcSzuUIVx_QPr4AkviwMr9TIhAMaru7HCZgQBHvctt79_fYrbFemv5cMZfYIDjFHTI8J_sQpe9z7j2hdOLPQEt2ZjeKQYYof_4rWGHsws7UdLL5FziVk
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"7eycE9ekOVMzcAnRZBjCWhlva9Ws\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546354431\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-7083364839126956003-c-geu2-23861-3221851-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer 7eycE9ekOVMzcAnRZBjCWhlva9Ws
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002432
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6285386\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"czxvQ\",\n            \"line\":
        [\n                \"1 HAWTHORNE AVENUE\",\n                \"SCUNTHORPE\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"1964-04-22\"\n            },\n            \"postalCode\":
        \"DN17 1DL\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"1958-06-10\",\n    \"gender\": \"female\",\n    \"generalPractitioner\":
        [\n        {\n            \"id\": \"COCzc\",\n            \"identifier\":
        {\n                \"period\": {\n                    \"start\": \"1974-12-02\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002432\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002432\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"MONKS\",\n            \"given\": [\n
        \               \"Lavina\",\n                \"Maxine\"\n            ],\n
        \           \"id\": \"VWIlj\",\n            \"period\": {\n                \"start\":
        \"2005-04-19\"\n            },\n            \"prefix\": [\n                \"MRS\"\n
        \           ],\n            \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\":
        \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
