interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiYTNiM2Q4NGMtZWQ1NC00MmI2LTgzYmQtOTNmZWNlNTM2NzBhIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODU0NjY2Nn0.nMICwloyvw62tlcpYjE3uHJ9GmmXTS9Ku9Fb0sV4-skeVzbgPjJGW0UxJUT0TXZevBDgw5BVGEIv4z3UcDOTC9nsagH3zH_wAcbSOY6CwLhdpEN3IWoEl7Q765qpEU3JWmWs8_BTwPV6WmIZR3G7bG7xJ7KMgulT7cYGzv89DV5Ou_Dahb1ms2D-Mp-e1ueTXnksFaSFezqJKE1to-i9ODX65FZ77FqvfpROTqlFJfrLmtdeG0U_Unn1zFmxkBVcY_hzAroynFkd08R4RzIYnYQOveSWLTViJ9OTa1IdU4px7jOdBCI9R23Jr8-_2x47cw71Ei8T9ORcqldqrJd8FTzW6AklUIj6I6zJvuNVXNbCF7ttUFOTWuF8qFUdcVNqfps-50bhUQgaIj-gXDvyX3M04OJv11Nah_TBCMOdDxDBLQ2o1F4coE-zrkQe4ci-xcZyt4LEjDDpuVLjRkVRkoMm7KvzpGbWaDXruRnU0MfU7S2F1dWHV22kPQ5gbC-c5ebLpSzqhwcrPUfSimvjNVcUtVLFsCYK1Q_WEIWxHQpRKYbi2lsm-MMXRPFmaEVVp8SuSlCRilaI4WZcQEg8D4zcrbICtAKA2vkKvUsfo8lYAUGzVFWi1joyQUetDJB84H7BhRLDuQimKZfHhbW45pYTuACje8OFA2ovWq8LstQ
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"6PQkzIza0hrmiBGA8wkjlgoTOn9g\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678546367213\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-7083364839126956003-c-geu2-23861-3222268-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer 6PQkzIza0hrmiBGA8wkjlgoTOn9g
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002548
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6308958\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"XtjCT\",\n            \"line\":
        [\n                \"10 BURGESS ROAD\",\n                \"BRIGG\",\n                \"S
        HUMBERSIDE\"\n            ],\n            \"period\": {\n                \"start\":
        \"2011-07-26\"\n            },\n            \"postalCode\": \"DN20 8DA\",\n
        \           \"use\": \"home\"\n        }\n    ],\n    \"birthDate\": \"2011-05-04\",\n
        \   \"gender\": \"female\",\n    \"generalPractitioner\": [\n        {\n            \"id\":
        \"erGDz\",\n            \"identifier\": {\n                \"period\": {\n
        \                   \"start\": \"2021-02-15\"\n                },\n                \"system\":
        \"https://fhir.nhs.uk/Id/ods-organization-code\",\n                \"value\":
        \"A20047\"\n            },\n            \"type\": \"Organization\"\n        }\n
        \   ],\n    \"id\": \"9728002548\",\n    \"identifier\": [\n        {\n            \"extension\":
        [\n                {\n                    \"url\": \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002548\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"YOUELL\",\n            \"given\":
        [\n                \"MARLYN\"\n            ],\n            \"id\": \"AKbgB\",\n
        \           \"period\": {\n                \"start\": \"2018-03-21\"\n            },\n
        \           \"prefix\": [\n                \"MISS\"\n            ],\n            \"use\":
        \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
