interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiODVmZDFkMjItN2ZlZC00NDliLWFhZWMtYjk3ZDJjOTViYjAzIiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODc0NDIwMH0.GYdZuCMtQxwdCt_APJO21JFGUT_qvz8rT86PdDF7yysemHCu5kXEvhEXpHBm03NgQHgi6mK8CkAI9IdRI4yiNO821BkvzRCJ2rRNhBvPXks8ylwa9zbun64gyXgmxLT8IGfHp2LpNT1cEoW5FIwFXhKsho3JhbtKzl4gZuig4KEabIaTI5UPMrePA1iJL7Yagk4TxeE3e3TF2oMhcsPQ1OgZxGBs4ViuD74ieJb8OgKynMKEui7ETZrDi1c_Qt3a2Jb6qOryPKu2Mlt5m_TbxSiWT2LdfracCbZZv2-fvJh4vdm_7AMs15-GsDqOcn6jdWslgOcOZpxBqCO1A0il2NTlzTS2OEmwgdSPbw6UnuTCIDfOtC5rR7YR3lr6rOHDiDHBYyD-yCnEqsuQ6sybKI9Zv217hJc4N9Jrow7wzPnzHcQH8bjtAwZsdPiN_50zbbop50b1FycDzuJBO-R2hf7g9YrK7rsAvQt9cSdo9xS9j4zP3MiaOcnkS6sM4L0XvLZFIFQqsOeshiUfivPBrYcUBCF7j2FowVijk1iEhOGFgD3obkOKFNE8d2tm8Nf0PjBNhcJss71VCk5p_jCAIqet8xNbisENpeK9fw5FITmsXjEdG6YmBvavPhZFbMrQDiZJp-YlhCF2VgnVR_a9DuvDzBdP2gdp9vGb24BpeG4
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"izD9gSLtImxCrDXeB46KYAGkHoA8\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678743901351\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-5796338890577065136-a-geu2-24096-4416683-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer izD9gSLtImxCrDXeB46KYAGkHoA8
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002394
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6308537\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"NXfLA\",\n            \"line\":
        [\n                \"53 TOP ROAD\",\n                \"WORLABY\",\n                \"BRIGG\",\n
        \               \"S HUMBERSIDE\"\n            ],\n            \"period\":
        {\n                \"start\": \"1984-02-10\"\n            },\n            \"postalCode\":
        \"DN20 0NG\",\n            \"use\": \"home\"\n        }\n    ],\n    \"birthDate\":
        \"1960-08-18\",\n    \"gender\": \"female\",\n    \"generalPractitioner\":
        [\n        {\n            \"id\": \"YgoiM\",\n            \"identifier\":
        {\n                \"period\": {\n                    \"start\": \"1965-06-28\"\n
        \               },\n                \"system\": \"https://fhir.nhs.uk/Id/ods-organization-code\",\n
        \               \"value\": \"A20047\"\n            },\n            \"type\":
        \"Organization\"\n        }\n    ],\n    \"id\": \"9728002394\",\n    \"identifier\":
        [\n        {\n            \"extension\": [\n                {\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002394\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"LOLLA\",\n            \"given\": [\n
        \               \"AGRATA\",\n                \"BANDANA\"\n            ],\n
        \           \"id\": \"TWVNH\",\n            \"period\": {\n                \"start\":
        \"1990-05-07\"\n            },\n            \"prefix\": [\n                \"MS\"\n
        \           ],\n            \"use\": \"usual\"\n        }\n    ],\n    \"resourceType\":
        \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
