interactions:
- request:
    body: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzUxMiIsImtpZCI6ImludC0xIiwidHlwIjoiSldUIn0.eyJzdWIiOiJxQTR0cUdtWHdjQjVBSUk2TkxFT0RVZXFUYmJYMnl6QSIsImlzcyI6InFBNHRxR21Yd2NCNUFJSTZOTEVPRFVlcVRiYlgyeXpBIiwianRpIjoiOTcxNjI5ODItODc2Ni00NGFiLWEyNDAtODkyOTY3NWI1N2E2IiwiYXVkIjoiaHR0cHM6Ly9pbnQuYXBpLnNlcnZpY2UubmhzLnVrL29hdXRoMi90b2tlbiIsImV4cCI6MTY3ODczNDIzN30.sMuX2WIB3ipu3jL4VX8wZJv-Dwdx3Oz1GmhNDvT-grldt8Gd8gBuDMdzMLK7n1iB2-xvXkndtzS-2f8TgrtQ_3mLmlR6GK1CD4R-esLWSCIX2r-q8u4spBiLy4BM2x-HPcUNxsVTM9YUHgAWi4tQFSQjUcywpVlW7pXIPpIGd_62F3STmhwpZxP6lw81KdiNf5Akc43-T2vOZCR1qst9uTJLjd_pz3lb1YrenfbGe575IRyS3-vomi5rtpb5IYHEUwtJoYFG8pu9qCgypxd-a8Zz0f8tmErz9468hINL_QLFs73qTJaew3al7JIqZvZpWTfMkYfQ-ROecraLTlQdqzV74JL9uB1W0ifhriZvK7LZ1tNZtJ8l_ZC1p5JMS8qrePBW5r82ZXTbz2Pb7ecqjnrC1t_EZ_jp6wbLzt4ZXJDnTrokEZVLRqFseHife130rwBx0V_AZvYAi9G6eQjvKgECQuuTSVRulP3YlhetKf4drsNdu8ml5fks0BQuDkDMVM2mCeJ5VmPLhiPfLWvV5gCjeEARUR9w17E9jcwhomDwyRPjAjHQm7kp3-9sYJQmW_LCgxTegsKWyLQytBEguC10gsrcfq-9vNiQW6UcrZ0vqP3c9ezq3gKSuTf5O1cMoLbzHBmeZM4loE8koKh5eVUxZvBEnXOy1e-y06wxkls
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://int.api.service.nhs.uk/oauth2/token
  response:
    body:
      string: "\n      {\n        \"access_token\": \"PD5C9uA1kVgjin3v7lOA7bWQORPa\",\n
        \       \"expires_in\": \"599\",\n        \"token_type\": \"Bearer\",\n        \"issued_at\":
        \"1678733937791\"\n      }\n"
    headers:
      Content-Type:
      - application/json
      NHSD-Correlation-ID:
      - ..rrt-2317811097629275444-a-geu2-23902-7776363-1
      NHSD-Request-ID:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer PD5C9uA1kVgjin3v7lOA7bWQORPa
    method: GET
    uri: https://int.api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9728002548
  response:
    body:
      string: "{\n    \"address\": [\n        {\n            \"extension\": [\n                {\n
        \                   \"extension\": [\n                        {\n                            \"url\":
        \"type\",\n                            \"valueCoding\": {\n                                \"code\":
        \"PAF\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"\n
        \                           }\n                        },\n                        {\n
        \                           \"url\": \"value\",\n                            \"valueString\":
        \"6308958\"\n                        }\n                    ],\n                    \"url\":
        \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\"\n
        \               }\n            ],\n            \"id\": \"XtjCT\",\n            \"line\":
        [\n                \"10 BURGESS ROAD\",\n                \"BRIGG\",\n                \"S
        HUMBERSIDE\"\n            ],\n            \"period\": {\n                \"start\":
        \"2011-07-26\"\n            },\n            \"postalCode\": \"DN20 8DA\",\n
        \           \"use\": \"home\"\n        }\n    ],\n    \"birthDate\": \"2011-05-04\",\n
        \   \"gender\": \"female\",\n    \"generalPractitioner\": [\n        {\n            \"id\":
        \"erGDz\",\n            \"identifier\": {\n                \"period\": {\n
        \                   \"start\": \"2021-02-15\"\n                },\n                \"system\":
        \"https://fhir.nhs.uk/Id/ods-organization-code\",\n                \"value\":
        \"A20047\"\n            },\n            \"type\": \"Organization\"\n        }\n
        \   ],\n    \"id\": \"9728002548\",\n    \"identifier\": [\n        {\n            \"extension\":
        [\n                {\n                    \"url\": \"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus\",\n
        \                   \"valueCodeableConcept\": {\n                        \"coding\":
        [\n                            {\n                                \"code\":
        \"01\",\n                                \"display\": \"Number present and
        verified\",\n                                \"system\": \"https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus\",\n
        \                               \"version\": \"1.0.0\"\n                            }\n
        \                       ]\n                    }\n                }\n            ],\n
        \           \"system\": \"https://fhir.nhs.uk/Id/nhs-number\",\n            \"value\":
        \"9728002548\"\n        }\n    ],\n    \"meta\": {\n        \"security\":
        [\n            {\n                \"code\": \"U\",\n                \"display\":
        \"unrestricted\",\n                \"system\": \"http://terminology.hl7.org/CodeSystem/v3-Confidentiality\"\n
        \           }\n        ],\n        \"versionId\": \"1\"\n    },\n    \"name\":
        [\n        {\n            \"family\": \"YOUELL\",\n            \"given\":
        [\n                \"MARLYN\"\n            ],\n            \"id\": \"AKbgB\",\n
        \           \"period\": {\n                \"start\": \"2018-03-21\"\n            },\n
        \           \"prefix\": [\n                \"MISS\"\n            ],\n            \"use\":
        \"usual\"\n        }\n    ],\n    \"resourceType\": \"Patient\"\n}"
    headers:
      Content-Type:
      - application/fhir+json
      Etag:
      - W/"1"
    status:
      code: 200
      message: OK
version: 1
